Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

refactor(data-access): run `nx format:write` HBL-191
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
Due: data-access-contexts

fix(ui): minor grid improvements HBL-189
  libs/ui/components/src/lib/CarouselGrid/CarouselGrid.tsx
  libs/ui/components/src/lib/EventTypeGrid/EventTypeGrid.tsx
  libs/ui/components/src/lib/EventTypeListItem/EventTypeListItem.tsx
  libs/ui/components/src/lib/GymZoneListItem/GymZoneListItem.tsx
Due: ui-components

feat(ui): added `DifficultyStack` component HBL-189
  libs/ui/components/src/lib/DifficultyStack/DifficultyStack.spec.tsx
  libs/ui/components/src/lib/DifficultyStack/DifficultyStack.tsx
  libs/ui/components/src/lib/DifficultyStack/index.ts
Due: ui-components

refactor(ui): use `DifficultyStack` component HBL-189
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEventTemplate.tsx
Due: ui-components

test(ui): test improvements HBL-189
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEventTemplate.spec.tsx
  libs/ui/components/src/lib/DifficultyStack/DifficultyStack.spec.tsx
  libs/ui/components/src/lib/DifficultyStack/DifficultyStack.tsx
Due: ui-components

feat(ui): added `EventTemplateListItem` component HBL-189
  libs/ui/components/src/lib/EventTemplateListItem/EventTemplateListItem.spec.tsx
  libs/ui/components/src/lib/EventTemplateListItem/EventTemplateListItem.tsx
  libs/ui/components/src/lib/EventTemplateListItem/index.ts
Due: ui-components

feat(ui): added `EventTemplateGrid` component HBL-189 #time 1h 45m
  libs/ui/components/src/lib/EventTemplateGrid/EventTemplateGrid.spec.tsx
  libs/ui/components/src/lib/EventTemplateGrid/EventTemplateGrid.tsx
  libs/ui/components/src/lib/EventTemplateGrid/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

feat(core): list of event templates HBL-189 #time 15m
  apps/core/pages/events/index.spec.tsx
  apps/core/pages/events/index.tsx
Due: core

feat(ui): event template dialog components HBL-192
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateCapacity/EventTemplateCapacity.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateCapacity/EventTemplateCapacity.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateCapacity/index.ts
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDescription/EventTemplateDescription.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDescription/EventTemplateDescription.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDescription/index.ts
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDifficulty/EventTemplateDifficulty.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDifficulty/EventTemplateDifficulty.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDifficulty/index.ts
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateName/EventTemplateName.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateName/EventTemplateName.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateName/index.ts
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateProperties/EventTemplateProperties.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateProperties/EventTemplateProperties.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateProperties/index.ts
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateType/EventTemplateType.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateType/EventTemplateType.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateType/index.ts
  libs/ui/components/src/lib/InputBase/InputBase.tsx
Due: data-access-contexts, ui-components

test(data-access): improve coverage HBL-192
  libs/data-access/contexts/src/lib/Theme/Theme.context.spec.tsx
Due: data-access-contexts

feat(ui): added `GymZoneDialog` component HBL-192 #time 1h 30m
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDialog.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDifficulty/EventTemplateDifficulty.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateType/EventTemplateType.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

fix(ui): minor form fix HBL-192
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.tsx
Due: ui-components

fix(api): type change HBL-192
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.ts
Due: shared-models-dto

feat(core): post event templates from events page HBL-192 #time 2h 10m
  apps/core/pages/events/index.spec.tsx
  apps/core/pages/events/index.tsx
Due: core

feat(core): create gym zones from virtual gym page HBL-182 #time 1h 40m
  apps/core/pages/virtual-gyms/[id]/index.spec.tsx
  apps/core/pages/virtual-gyms/[id]/index.tsx
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.spec.tsx
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.tsx
  package-lock.json
Due: core, ui-components

test(core): fix events page coverage HBL-182 #time 10m
  apps/core/pages/events/index.spec.tsx
Due: core

feat(core): gym zone page structure
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/index.tsx
Due: core

feat(shared): added `color` prop to `Event` HBL-208 #time 5m
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/entities/src/lib/Event.ts
Due: shared-models-dto

feat(api): added `color` prop to `Event` HBL-208 #time 5m
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
Due: api

test(api): update e2e test HBL-208
  apps/api/src/test/Event/Event.spec.ts
Due: api

feat(api): return calendar events ordered HBL-185 #time 15m
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
Due: api

feat(ui): added `Calendar` component Custom implementation of the a calendar, in order to avoid using an external library, as the calendar can be easily implemented. HBL-185 #time 4h 30m
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
  libs/shared/types/src/lib/types.ts
  libs/ui/components/src/lib/Calendar/Calendar.spec.tsx
  libs/ui/components/src/lib/Calendar/Calendar.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/index.ts
  libs/ui/components/src/lib/Calendar/CalendarDayColumn/CalendarDayColumn.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarDayColumn/CalendarDayColumn.tsx
  libs/ui/components/src/lib/Calendar/CalendarDayColumn/index.ts
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.tsx
  libs/ui/components/src/lib/Calendar/CalendarEvent/index.ts
  libs/ui/components/src/lib/Calendar/CalendarSpot/CalendarSpot.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarSpot/CalendarSpot.tsx
  libs/ui/components/src/lib/Calendar/CalendarSpot/index.ts
  libs/ui/components/src/lib/Calendar/CalendarSpotHeader/CalendarSpotHeader.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarSpotHeader/CalendarSpotHeader.tsx
  libs/ui/components/src/lib/Calendar/CalendarSpotHeader/index.ts
  libs/ui/components/src/lib/Calendar/CalendarWeek/CalendarWeek.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarWeek/CalendarWeek.tsx
  libs/ui/components/src/lib/Calendar/CalendarWeek/index.ts
  libs/ui/components/src/lib/Calendar/index.ts
  libs/ui/components/src/lib/index.ts
Due: data-access-contexts, shared-types, ui-components

feat(api): fetch a single gym zone HBL-209 #time 45m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/GymZone/index.ts
Due: api

feat(api): fetch single gym zone route HBL-209
  apps/api/src/app/routes/GymZone.routes.spec.ts
  apps/api/src/app/routes/GymZone.routes.ts
Due: api

test(api): added new ws to e2e test HBL-209 #time 10m
  apps/api/src/test/GymZone/GymZone.spec.ts
  apps/api/src/test/index.spec.ts
Due: api

fix(ui): calendar event styles HBL-185
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.tsx
Due: ui-components

fix(api): change where cond position HBL-185
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
Due: api

feat(ui): `Calendar` component improvements HBL-185
  libs/ui/components/src/lib/Calendar/Calendar.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.tsx
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.tsx
  libs/ui/components/src/lib/Calendar/CalendarSpot/CalendarSpot.tsx
Due: ui-components

feat(utils): moved `weekInitialDay` function HBL-185
  libs/utils/jest.config.js
  libs/utils/src/lib/functions.spec.ts
  libs/utils/src/lib/functions.ts
Due: utils

feat(core): added not found page HBL-185
  apps/core/pages/404/index.spec.tsx
  apps/core/pages/404/index.tsx
Due: core

feat(core): custom scrollbar HBL-185
  apps/core/styles/styles.css
Due: core

fix(data-access): loading not stopping on api err HBL-185
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
Due: data-access-contexts

feat(core): gym zone basic implementation HBL-185 #time 2h 15m
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
Due: api, core

fix(api): event controller `where` clause HBL-185
  libs/ui/components/src/lib/Calendar/Calendar.tsx
Due: ui-components

test(api): fix controller test HBL-185
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
Due: api

feat(ui): added spot click event on calendar HBL-210 #time 45m
  libs/ui/components/src/lib/Calendar/Calendar.spec.tsx
  libs/ui/components/src/lib/Calendar/Calendar.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.tsx
  libs/ui/components/src/lib/Calendar/CalendarSpot/CalendarSpot.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarSpot/CalendarSpot.tsx
Due: ui-components

feat(core): name & description fields HBL-210 #time 15m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDescription/CalendarEventDescription.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDescription/CalendarEventDescription.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDescription/index.ts
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventName/CalendarEventName.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventName/CalendarEventName.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventName/index.ts
Due: ui-components

feat(ui): added `CalendarEventGymZone` component HBL-210 #time 15m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventGymZone/CalendarEventGymZone.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventGymZone/CalendarEventGymZone.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventGymZone/index.ts
Due: ui-components

feat(ui): added `CalendarEventTrainer` component HBL-210 #time 10m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTrainer/CalendarEventTrainer.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTrainer/CalendarEventTrainer.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTrainer/index.ts
Due: ui-components

feat(ui): added `DatePicker` component HBL-210 #time 50m
  libs/ui/components/src/lib/DatePicker/DatePicker.spec.tsx
  libs/ui/components/src/lib/DatePicker/DatePicker.tsx
  libs/ui/components/src/lib/DatePicker/index.ts
Due: ui-components

Path conditions:
  api: any of: apps/api/src
  client: any of: apps/client
  client-e2e: any of: apps/client-e2e/src
  core: any of: apps/core
  core-e2e: any of: apps/core-e2e/src
  landing: any of: apps/landing
  landing-e2e: any of: apps/landing-e2e/src
  data-access-api: any of: libs/data-access/api
  data-access-contexts: any of: libs/data-access/contexts
  shared-models-body-validators: any of: libs/shared/models/body-validators
  shared-models-dto: any of: libs/shared/models/dto
  shared-models-helpers: any of: libs/shared/models/helpers
  shared-types: any of: libs/shared/types
  ui-components: any of: libs/ui/components
  utils: any of: libs/utils
