Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, shared-models, shared-types

chore(docker): serve api app in container HBL-51 #time 2h
  .dockerignore
  docker-compose.yaml
Due: none

feat(api): Event DTO and service HBL-29 HBL-67 #time 30m
  apps/api/src/app/services/Event/Event.service.spec.ts
  apps/api/src/app/services/Event/Event.service.ts
  apps/api/src/app/services/Event/index.ts
  apps/api/src/app/services/index.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/dto/src/lib/Event/index.ts
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.ts
  libs/shared/models/dto/src/lib/util/error-messages.ts
  libs/shared/models/dto/src/lib/util/index.ts
  libs/shared/models/entities/src/lib/Event.ts
Due: api, shared-models

feat(api): EventAppointment DTO and service HBL-29 HBL-67 #time 20m
  apps/api/src/app/services/EventAppointment/EventAppointment.service.spec.ts
  apps/api/src/app/services/EventAppointment/EventAppointment.service.ts
  apps/api/src/app/services/EventAppointment/index.ts
  apps/api/src/app/services/index.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.spec.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.ts
  libs/shared/models/dto/src/lib/EventAppointment/index.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/entities/src/lib/EventAppointment.ts
Due: api, shared-models

feat(api): create Event controller HBL-29 HBL-62 #time 5h #review
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/controllers/Event/index.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/types.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/EventTemplates.routes.ts
  apps/api/src/app/routes/Events.routes.ts
  apps/api/src/app/routes/index.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/dto/src/lib/Event/index.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/entities/src/lib/Event.ts
Due: api, shared-models

feat(api): update Event controller HBL-29 HBL-63 #time 3h 30m
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/controllers/Event/index.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/routes/Events.routes.ts
  libs/shared/models/entities/src/lib/Owner.ts
Due: api, shared-models

feat(shared): added `CalendarDateDTO` HBL-29 HBL-67 #time 30m
  libs/shared/models/dto/src/lib/CalendarDate/CalendarDate.spec.ts
  libs/shared/models/dto/src/lib/CalendarDate/CalendarDate.ts
  libs/shared/models/dto/src/lib/CalendarDate/index.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/dto/src/lib/util/error-messages.ts
Due: shared-models

feat(api): update `Event` controller HBL-29 HBL-70 #time 2h 30m
  apps/api/src/app/routes/EventTypes.routes.ts
  libs/shared/models/dto/jest.config.js
  libs/shared/models/dto/src/lib/CalendarDate/CalendarDate.spec.ts
  libs/shared/models/dto/src/lib/CalendarDate/CalendarDate.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/dto/src/lib/util/validation-parser.ts
Due: api, shared-models

feat(api): delete `Event` controller HBL-29 HBL-71 #time 15m #review
  apps/api/src/app/controllers/Base/DeleteByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/controllers/Event/index.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/routes/Events.routes.ts
Due: api

fix(api): events overlap only with same calendar HBL-29 HBL-70 #time 5m
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
Due: api

feat(api): validate `Event` gym zone HBL-29 HBL-72 #time 45m
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
Due: api

refactor: run `format:write` HBL-29
  apps/api/src/app/middlewares/logger.middleware.ts
  apps/api/src/app/routes/index.ts
  apps/api/src/app/services/EventAppointment/EventAppointment.service.spec.ts
  docker-compose.yaml
Due: api

chore(docker): api container restart fix HBL-69 #time 5m #review
  docker-compose.yaml
Due: none

feat(api): `CalendarAppointment` DTO and service HBL-74 HBL-75 #time 30m
  apps/api/src/app/services/CalendarAppointment/CalendarAppointment.service.spec.ts
  apps/api/src/app/services/CalendarAppointment/CalendarAppointment.service.ts
  apps/api/src/app/services/CalendarAppointment/index.ts
  apps/api/src/app/services/index.ts
  libs/shared/models/dto/src/lib/CalendarAppointment/CalendarAppointment.spec.ts
  libs/shared/models/dto/src/lib/CalendarAppointment/CalendarAppointment.ts
  libs/shared/models/dto/src/lib/CalendarAppointment/index.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/entities/src/lib/CalendarAppointment.ts
Due: api, shared-models

feat(api): `Appointment.Event` controller checks Implementation of the validations when creating an appointment to an event. HBL-74 HBL-76 #time 3h 30m #review
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
  apps/api/src/app/controllers/Appointments/Events/index.ts
  apps/api/src/app/controllers/Appointments/index.ts
  apps/api/src/app/controllers/Base/Base.controller.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/Appointments.routes.ts
  apps/api/src/app/routes/index.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.ts
Due: api, shared-models

refactor(api): base `Appointments.Event` controller HBL-74 HBL-84 #time 30m
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
Due: api

feat(api): delete `Appointments.Event` controller HBL-74 HBL-84 #time 2h 45m
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
  apps/api/src/app/controllers/Appointments/Events/index.ts
  apps/api/src/app/controllers/Appointments/index.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/routes/Appointments.routes.ts
  libs/shared/models/entities/src/lib/EventAppointment.ts
Due: api, shared-models

feat(api): delete `Appointments.Event` controller Deletion by client implementation. HBL-74 HBL-84 #time 1h 15m #review
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
Due: api

fix(api): return `created` on creating appointment When a client created an `EventAppointment`, it would return `ok` (200), instead of `created` (201). HBL-74 HBL-76 #time 10m
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
Due: api

chore(api): jest cover all files Ensure coverage includes all files inside `src` but barrel files. HBL-86 #time 10m
  apps/api/jest.config.js
Due: none

chore(shared): jest cover all files Ensure coverage includes all files inside `src` but barrel files.
  libs/shared/models/dto/jest.config.js
Due: shared-models

test(shared): fix `validation-parser` coverage
  libs/shared/models/dto/src/lib/util/validation-parser.spec.ts
Due: shared-models

feat(api): cancel `Appointment.Event` controller HBL-74 HBL-85 #time 4h 45m #review
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
  apps/api/src/app/controllers/Appointments/Events/index.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/routes/Appointments.routes.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.spec.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.ts
  libs/shared/models/entities/src/lib/EventAppointment.ts
Due: api, shared-models

feat(api): cancel `Appointments.Event` controller Client endpoint implementation. HBL-74 HBL-81 #time 1h 15m #review
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
Due: api

fix(api): overlap cancelled `Appointment.Event` HBL-74 HBL-87 #time 30m #review
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
Due: api

refactor(api): change `BaseService.findOne` signature HBL-74 HBL-88 #time 10m
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.spec.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.ts
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
  apps/api/src/app/controllers/EventType/EventType.controller.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/create.spec.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/delete.spec.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/services/Base/Base.service.spec.ts
  apps/api/src/app/services/Base/Base.service.ts
Due: api

fix(api): send better status codes HBL-74
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
Due: api

feat(api): create `Appointments.Calendar` controller HBL-74 HBL-88 #time 5h #review
  apps/api/src/app/constants/index.ts
  apps/api/src/app/constants/queries.ts
  apps/api/src/app/constants/query.types.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.ts
  apps/api/src/app/controllers/Appointments/Calendars/index.ts
  apps/api/src/app/controllers/Appointments/index.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/routes/Appointments.routes.ts
  apps/api/src/app/services/Base/Base.service.spec.ts
  apps/api/src/app/services/Base/Base.service.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: api, shared-models

feat(api): create `Appointment.Calendar` controller Implementation of creating an `Appointment.Calendar` by a client. HBL-74 HBL-80 #time 1h #review
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.ts
Due: api

refactor(api): minor changes HBl-74
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
Due: api

feat(api): delete `Appointments.Calendar` controller Implementation of the deletion controller when an owner or worker is deleting the `Appointments.Calendar` HBL-74 HBL-90 #time 1h
  apps/api/src/app/constants/queries.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.ts
  apps/api/src/app/controllers/Appointments/Calendars/index.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/routes/Appointments.routes.ts
  libs/shared/models/entities/src/lib/CalendarAppointment.ts
Due: api, shared-models

fix(api): use common `deleteByClient` Use common `deleteByClient` in the `Appointments.Event` controller. HBL-74 HBL-91 #time 15m #review
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
  apps/api/src/app/controllers/helpers/delete.ts
Due: api

feat(api): cancel `Appointments.Calendar` controller Implementation of the cancellation of an `Appointments.Calendar` by an owner or a worker. HBL-74 HBL-89 #time 1h #review
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.ts
  apps/api/src/app/controllers/Appointments/Calendars/index.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/routes/Appointments.routes.ts
Due: api

feat(api): remove joins when cancelling events In order to cancell an `Appointments.Event`, multiple joins where made so that the fetched entity would have the foreign HBL-74 HBL-85 #time 30m
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.spec.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.ts
Due: api, shared-models

refactor(api): minor prop change HBL-74
  apps/api/src/app/controllers/Appointments/Events/Events.controller.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
Due: api

feat(api): cancel `Appointments.Calendar` controller Implementation of cancellation of an `Appointments.Calendar` by a client HBL-74 HBL-97 #time 45m #review
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.ts
  apps/api/src/app/controllers/Appointments/Events/Events.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
Due: api

feat(shared): new body validation model lib Created library to hold models that validate the json body recieved of request that do not contain a DTO. HBL-74 HBL-75 #time 30m
  libs/shared/models/body-validators/.babelrc
  libs/shared/models/body-validators/.eslintrc.json
  libs/shared/models/body-validators/README.md
  libs/shared/models/body-validators/jest.config.js
  libs/shared/models/body-validators/project.json
  libs/shared/models/body-validators/src/index.ts
  libs/shared/models/body-validators/src/lib/FetchAppointmentIntervals/FetchAppointmentIntervals.spec.ts
  libs/shared/models/body-validators/src/lib/FetchAppointmentIntervals/FetchAppointmentIntervals.ts
  libs/shared/models/body-validators/src/lib/FetchAppointmentIntervals/index.ts
  libs/shared/models/body-validators/src/lib/index.ts
  libs/shared/models/body-validators/tsconfig.json
  libs/shared/models/body-validators/tsconfig.lib.json
  libs/shared/models/body-validators/tsconfig.spec.json
  libs/shared/models/dto/src/lib/CalendarAppointment/CalendarAppointment.spec.ts
  tsconfig.base.json
  workspace.json
Due: shared-models

fix(api): not respecting gym zone max capacity HBL-74 HBL-98 #time 45m #review
  apps/api/src/app/constants/queries.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendars/Calendars.controller.ts
Due: api

chore: update deps
  package-lock.json
  package.json
Due: none

chore(ci): use node 16.10.0
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  api: any of: apps/api/src
  client: any of: apps/client/src
  client-e2e: any of: apps/client-e2e/src
  core: any of: apps/core/src
  core-e2e: any of: apps/core-e2e/src
  landing: any of: apps/landing/src
  landing-e2e: any of: apps/landing-e2e/src
  shared-models: any of: libs/shared/models
  shared-types: any of: libs/shared/types
