Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 90%
      libs:
        target: 100%
        flags:
          - shared-models
          - shared-types

comment:
  layout: 'diff, flags, files'
  require_changes: true

flags:
  # Apps
  api:
    paths:
      - apps/api/src
    carryforward: true
  client:
    paths:
      - apps/client
    carryforward: true
  client-e2e:
    paths:
      - apps/client-e2e/src
    carryforward: true
  core:
    paths:
      - apps/core
    carryforward: true
  core-e2e:
    paths:
      - apps/core-e2e/src
    carryforward: true
  landing:
    paths:
      - apps/landing
    carryforward: true
  landing-e2e:
    paths:
      - apps/landing-e2e/src
    carryforward: true
  # Libs
  data-access-api:
    paths:
      - libs/data-access/api
    carryforward: true
  data-access-contexts:
    paths:
      - libs/data-access/contexts
    carryforward: true
  shared-models-body-validators:
    paths:
      - libs/shared/models/body-validators
    carryforward: true
  shared-models-dto:
    paths:
      - libs/shared/models/dto
    carryforward: true
  shared-models-helpers:
    paths:
      - libs/shared/models/helpers
    carryforward: true
  shared-types:
    paths:
      - libs/shared/types
    carryforward: true
  ui-components:
    paths:
      - libs/ui/components
    carryforward: true
  utils:
    paths:
      - libs/utils
    carryforward: true

test(core): fix tests & console.logs
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.tsx
  package-lock.json
  package.json
Due: core, ui-components

refactor(ui): remove console HBL-213
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.tsx
Due: ui-components

feat(api): today events ws HBL-215 #time 1h
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Calendar/index.ts
  apps/api/src/app/routes/Calendars.routes.spec.ts
  apps/api/src/app/routes/Calendars.routes.ts
Due: api

test(api): added e2e tests HBL-215 #time 10m
  apps/api/src/test/Calendar/Calendar.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
Due: api

fix(core): events not creating for selected week HBL-216 #time 40m
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
Due: api, core

fix(api): bring cache back HBL-216
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
Due: api

feat(data-access): added today events in context HBL-186 #time 40m
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
  libs/data-access/contexts/src/lib/Loading/Loading.context.tsx
  libs/data-access/contexts/src/lib/Toast/Toast.context.tsx
Due: data-access-contexts

feat(ui): added `TodayEventsListItem` component HBL-186
  libs/ui/components/src/lib/TodayEventsListItem/TodayEventsListItem.spec.tsx
  libs/ui/components/src/lib/TodayEventsListItem/TodayEventsListItem.tsx
  libs/ui/components/src/lib/TodayEventsListItem/index.ts
Due: ui-components

feat(ui): added `TodayEventsList` component HBL-186 #time 1h
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.spec.tsx
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.tsx
  libs/ui/components/src/lib/TodayEventsList/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

fix(ui): minor ui changes HBL-186
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.tsx
Due: ui-components

feat(ui): animations & performance improvements HBL-186 #time 30m
  libs/ui/components/src/lib/Calendar/Calendar.tsx
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.spec.tsx
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.tsx
Due: ui-components

feat(core): added events list HBL-186 #time 1h 30m
  apps/core/pages/settings/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
Due: core

feat(ui): hide/show today events list HBL-186 #time 45m
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.spec.tsx
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.tsx
Due: core, ui-components

feat(core): list of today events in virt gym page HBL-163 #time 15m Other minor ui improvements
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/index.tsx
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.tsx
Due: core, ui-components

feat(core): added today events list in dashboard HBL-156 #time 15m
  apps/core/components/pages/dashboard/index.ts
  apps/core/pages/dashboard/index.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEvent.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEvent.tsx
Due: core, ui-components

feat(core): apply last changes to dashboard events HBL-156
  apps/core/components/pages/dashboard/DashboardEvents.tsx
Due: core

feat(ui): add empty type in event template dialog HBL-156
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateType/EventTemplateType.tsx
Due: ui-components

feat(core): create event templates from dashboard HBL-156 #time 30m
  apps/core/components/pages/dashboard/DashboardEventTemplates.spec.tsx
  apps/core/components/pages/dashboard/DashboardEventTemplates.tsx
Due: core

test(core): fix `DashboardEvents` tests HBL-156 #time 5m
  apps/core/components/pages/dashboard/DashboardEvents.spec.tsx
Due: core

fix(ui): change button rotation HBL-165 #time 5m
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.tsx
Due: ui-components

feat(core): today events in events page HBL-165 #time 5m
  apps/core/pages/events/index.spec.tsx
  apps/core/pages/events/index.tsx
Due: core

refactor(ui): created component for common icons HBL-217 #time 15m
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardCommonEvent.tsx
  libs/ui/components/src/lib/EventTemplateListItem/EventTemplateListItem.tsx
  libs/ui/components/src/lib/GymZoneListItem/GymZoneListItem.tsx
  libs/ui/components/src/lib/Icons/ClassZoneIcon/ClassZoneIcon.spec.tsx
  libs/ui/components/src/lib/Icons/ClassZoneIcon/ClassZoneIcon.tsx
  libs/ui/components/src/lib/Icons/ClassZoneIcon/index.ts
  libs/ui/components/src/lib/Icons/CovidPassportIcon/CovidPassportIcon.spec.tsx
  libs/ui/components/src/lib/Icons/CovidPassportIcon/CovidPassportIcon.tsx
  libs/ui/components/src/lib/Icons/CovidPassportIcon/index.ts
  libs/ui/components/src/lib/Icons/MaskIcon/MaskIcon.spec.tsx
  libs/ui/components/src/lib/Icons/MaskIcon/MaskIcon.tsx
  libs/ui/components/src/lib/Icons/MaskIcon/index.ts
  libs/ui/components/src/lib/Icons/index.ts
  libs/ui/components/src/lib/TodayEventsListItem/TodayEventsListItem.tsx
Due: ui-components

docs: added libs docs
  apps/api/README.md
  libs/data-access/api/README.md
  libs/data-access/contexts/README.md
  libs/shared/models/body-validators/README.md
  libs/shared/models/dto/README.md
  libs/shared/models/entities/README.md
  libs/shared/types/README.md
  libs/ui/components/README.md
  libs/utils/README.md
  static/Logo.svg
Due: data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-types, ui-components, utils

feat(core): added personnel layout HBL-194
  apps/core/components/Layout/Waves/PersonnelPages.spec.tsx
  apps/core/components/Layout/Waves/PersonnelPages.tsx
  apps/core/components/Layout/Waves/index.ts
  apps/core/public/WavesPersonnel1.svg
  apps/core/public/WavesPersonnel2.svg
  apps/core/public/WavesPersonnel3.svg
Due: core

feat(core): added page layout HBL-194 #time 10m
  apps/core/components/Layout/CoreSideNav/CoreSideNav.tsx
  apps/core/pages/trainers/index.spec.tsx
  apps/core/pages/trainers/index.tsx
Due: core

feat(ui): added basic table components HBL-195
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
  libs/ui/components/src/lib/Table/GenderCell/GenderCell.spec.tsx
  libs/ui/components/src/lib/Table/GenderCell/GenderCell.tsx
  libs/ui/components/src/lib/Table/GenderCell/index.ts
  libs/ui/components/src/lib/Table/HeaderCell/HeaderCell.spec.tsx
  libs/ui/components/src/lib/Table/HeaderCell/HeaderCell.tsx
  libs/ui/components/src/lib/Table/HeaderCell/index.ts
  libs/ui/components/src/lib/Table/TableBodyRow/TableBodyRow.spec.tsx
  libs/ui/components/src/lib/Table/TableBodyRow/TableBodyRow.tsx
  libs/ui/components/src/lib/Table/TableBodyRow/index.ts
Due: data-access-contexts, ui-components

feat(ui): added `Table` component HBL-195 #time 1h 15m
  libs/ui/components/src/lib/Table/Table.spec.tsx
  libs/ui/components/src/lib/Table/Table.tsx
  libs/ui/components/src/lib/Table/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

feat(core): added trainers table helper components HBL-195
  apps/core/components/pages/index.ts
  apps/core/components/pages/trainers/TableHeader.spec.tsx
  apps/core/components/pages/trainers/TableHeader.tsx
  apps/core/components/pages/trainers/TableRow.spec.tsx
  apps/core/components/pages/trainers/TableRow.tsx
  apps/core/components/pages/trainers/index.ts
Due: core

feat(ui): minor improvements HBL-195
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
  libs/ui/components/src/lib/Table/Table.tsx
  libs/ui/components/src/lib/Table/TableBodyRow/TableBodyRow.tsx
Due: data-access-contexts, ui-components

feat(core): minor table ui improvement HBL-195
  libs/ui/components/src/lib/Table/Table.tsx
Due: ui-components

refactor(core): minor test position HBL-195
  apps/core/pages/events/index.spec.tsx
Due: core

feat(core): added trainers table HBL-195 #time 45m
  apps/core/pages/trainers/index.spec.tsx
  apps/core/pages/trainers/index.tsx
Due: core

feat(api): fetch only 15 entities HBL-195
  apps/api/src/app/controllers/Person/helpers/fetch.spec.ts
  apps/api/src/app/controllers/Person/helpers/fetch.ts
Due: api

refactor(ui): extract clickable end adornment HBL-196
  libs/ui/components/src/lib/ClickableEndAdornment/ClickableEndAdornment.spec.tsx
  libs/ui/components/src/lib/ClickableEndAdornment/ClickableEndAdornment.tsx
  libs/ui/components/src/lib/ClickableEndAdornment/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserPassword/SettingsUserPassword.tsx
Due: ui-components

feat(ui): added person fields HBL-196 #time 1h
  libs/ui/components/src/lib/Dialogs/Person/PersonEmail/PersonEmail.spec.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonEmail/PersonEmail.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonEmail/index.ts
  libs/ui/components/src/lib/Dialogs/Person/PersonFirstName/PersonFirstName.spec.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonFirstName/PersonFirstName.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonFirstName/index.ts
  libs/ui/components/src/lib/Dialogs/Person/PersonGender/PersonGender.spec.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonGender/PersonGender.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonGender/index.ts
  libs/ui/components/src/lib/Dialogs/Person/PersonLastName/PersonLastName.spec.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonLastName/PersonLastName.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonLastName/index.ts
  libs/ui/components/src/lib/Dialogs/Person/PersonPassword/PersonPassword.spec.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonPassword/PersonPassword.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonPassword/index.ts
  libs/ui/components/src/lib/Dialogs/Person/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

feat(shared): removed workerCode prop Removed worker code from trainers and workers as it made not much sense HBL-196
  apps/core/components/pages/dashboard/DashboardTrainers.spec.tsx
  apps/core/components/pages/trainers/TableHeader.spec.tsx
  apps/core/components/pages/trainers/TableHeader.tsx
  apps/core/components/pages/trainers/TableRow.spec.tsx
  apps/core/components/pages/trainers/TableRow.tsx
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/entities/src/lib/Trainer.ts
  libs/shared/models/entities/src/lib/Worker.ts
  libs/ui/components/src/lib/Dashboard/DashboardTrainer/DashboardTrainer.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainer/DashboardTrainer.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainers/DashboardTrainers.spec.tsx
Due: core, shared-models-dto, ui-components

feat(ui): added `TrianerTags` component HBL-196 #time 15m
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerTags/TrainerTags.spec.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerTags/TrainerTags.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerTags/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

refactor(core): minor ui changes HBL-196
  apps/core/components/Layout/ContentContainer/ContentContainer.tsx
Due: core

fix(ui): added missing types HBL-196
  libs/ui/components/src/lib/Dialogs/types.ts
  libs/ui/components/src/lib/SelectInput/SelectInput.tsx
Due: ui-components

refactor(ui): update imports HBL-196
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.spec.tsx
Due: ui-components
