Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types

feat: added ws to return list of trainers HBL-130 #time 3h 30m
  apps/api/src/app/controllers/Person/Trainer.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/index.ts
  apps/api/src/app/routes/Person.routes.spec.ts
  apps/api/src/app/routes/Persons.routes.ts
  apps/api/src/test/Person/Trainer.spec.ts
  apps/api/src/test/index.spec.ts
Due: api

feat(api): added ws to return list of workers Extracted common code to the helpers folder in person's controller. The code from the trainers fetch should also be updated. HBL-131 #time 45m
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/helpers/fetch.spec.ts
  apps/api/src/app/controllers/Person/helpers/fetch.ts
  apps/api/src/app/controllers/Person/helpers/index.ts
  apps/api/src/app/controllers/Person/index.ts
  apps/api/src/app/routes/Person.routes.spec.ts
  apps/api/src/app/routes/Persons.routes.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/index.spec.ts
Due: api

feat(api): remove common code from Trainers fetch HBL-131 #time 15m
  apps/api/src/app/controllers/Person/Trainer.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
Due: api

feat(api): added ws to return list of clients HBL-132 #time 15m
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/helpers/fetch.ts
  apps/api/src/app/controllers/Person/index.ts
  apps/api/src/app/routes/Person.routes.spec.ts
  apps/api/src/app/routes/Persons.routes.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/index.spec.ts
Due: api

feat(api): added difficulty prop to events HBL-133 #time 30m
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/test/Event/Event.spec.ts
  apps/api/src/test/e2e-setup.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/entities/src/lib/Event.ts
Due: api, shared-models-dto

feat(api): limit access to fetching appointments HBL-139 #time 30m
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
Due: api

feat(shared): added gym code in model HBL-137 #time 1h
  apps/api/src/test/Person/Owner.spec.ts
  apps/api/src/test/e2e-setup.ts
  libs/shared/models/dto/src/lib/Gym/Gym.spec.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/entities/src/lib/Gym.ts
  package-lock.json
  package.json
Due: api, shared-models-dto

feat(api): added client register with gym code HBL-137 #time 1h 15m
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/services/Gym/Gym.service.spec.ts
  apps/api/src/app/services/Gym/Gym.service.ts
  apps/api/src/app/services/Gym/index.ts
  apps/api/src/app/services/index.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  apps/api/src/test/util/constants.ts
Due: api

feat(api): renamed user create routes HBL-136 #time 15m
  apps/api/src/app/controllers/Person/Trainer.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/index.ts
  apps/api/src/app/routes/Appointments.routes.ts
  apps/api/src/app/routes/Person.routes.spec.ts
  apps/api/src/app/routes/Persons.routes.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/Person/Trainer.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/index.spec.ts
Due: api

feat(shared): added event props to template HBL-138 #time 15m
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.spec.ts
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.ts
  libs/shared/models/entities/src/lib/EventTemplate.ts
Due: shared-models-dto

test(api): added missing tests HBL-138 #time 3h
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/test/Event/Event.spec.ts
  apps/api/src/test/EventTemplate/EventTemplate.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
Due: api

feat(api): added Dashboard ws HBL-128 #time 5h
  apps/api/src/app/controllers/Dashboard/Dashboard.controller.spec.ts
  apps/api/src/app/controllers/Dashboard/Dashboard.controller.ts
  apps/api/src/app/controllers/Dashboard/index.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/controllers/Person/helpers/fetch.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/Dashboard.routes.spec.ts
  apps/api/src/app/routes/Dashboard.routes.ts
  apps/api/src/app/routes/index.ts
  apps/api/src/test/Dashboard/Dashboard.spec.ts
  apps/api/src/test/Dashboard/index.ts
  apps/api/src/test/Event/Event.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  libs/shared/models/dto/src/lib/Dashboard/Dashboard.spec.ts
  libs/shared/models/dto/src/lib/Dashboard/Dashboard.ts
  libs/shared/models/dto/src/lib/Dashboard/index.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/entities/src/lib/Event.ts
  libs/shared/models/entities/src/lib/Gym.ts
  libs/shared/models/entities/src/lib/Trainer.ts
Due: api, shared-models-dto

feat(api): added TrainerTag entity HBL-134 #time 5m
  apps/api/src/config/database.spec.ts
  apps/api/src/config/database.ts
  libs/shared/models/entities/src/lib/Trainer.ts
  libs/shared/models/entities/src/lib/TrainerTag.ts
  libs/shared/models/entities/src/lib/index.ts
Due: api

feat(shared): added TrainerTagDTO HBL-134 #time 45m
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/TrainerTag/TrainerTag.spec.ts
  libs/shared/models/dto/src/lib/TrainerTag/TrainerTag.ts
  libs/shared/models/dto/src/lib/TrainerTag/index.ts
Due: shared-models-dto

fix(shared): return empty array on undefined tags HBL-134 #time 5m
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
Due: shared-models-dto

feat(api): return list of tags on trainer fetch HBL-134 #time 1h 30m
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Trainer.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/helpers/fetch.spec.ts
  apps/api/src/app/controllers/Person/helpers/fetch.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
Due: api, shared-models-dto

feat(api): added TrainerTag service HBL-134 #time 5m
  apps/api/src/app/services/TrainerTag/TrainerTag.service.spec.ts
  apps/api/src/app/services/TrainerTag/TrainerTag.service.ts
  apps/api/src/app/services/TrainerTag/index.ts
  apps/api/src/app/services/index.ts
Due: api

feat(shared): added gym prop to TrainerTag HBL-134 #time 5m
  libs/shared/models/dto/src/lib/TrainerTag/TrainerTag.spec.ts
  libs/shared/models/dto/src/lib/TrainerTag/TrainerTag.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/entities/src/lib/Gym.ts
  libs/shared/models/entities/src/lib/TrainerTag.ts
Due: shared-models-dto

feat(api): added TrainerTags fetch controller HBL-134 #time 1h 30m
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.spec.ts
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.ts
  apps/api/src/app/controllers/TrainerTag/index.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/Tags.routes.spec.ts
  apps/api/src/app/routes/Tags.routes.ts
  apps/api/src/app/routes/index.ts
  apps/api/tsconfig.spec.json
Due: api

refactor(api): added `onFail` into `BaseController` HBL-134 #time 30m
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.ts
  apps/api/src/app/controllers/Base/Base.controller.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Dashboard/Dashboard.controller.spec.ts
  apps/api/src/app/controllers/Dashboard/Dashboard.controller.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.ts
  apps/api/src/app/controllers/EventType/EventType.controller.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/helpers/login.spec.ts
  apps/api/src/app/controllers/Person/helpers/login.ts
  apps/api/src/app/controllers/Person/helpers/register.spec.ts
  apps/api/src/app/controllers/Person/helpers/register.ts
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.spec.ts
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/create.spec.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/delete.spec.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/controllers/helpers/validations.spec.ts
  apps/api/src/app/controllers/helpers/validations.ts
Due: api

chore: run `format:write` on api HBL-134
  apps/api/src/app/routes/Dashboard.routes.ts
  apps/api/src/test/Calendar/index.ts
  apps/api/src/test/Dashboard/Dashboard.spec.ts
  apps/api/src/test/Event/index.ts
  apps/api/src/test/EventTemplate/index.ts
  apps/api/src/test/EventType/EventType.spec.ts
  apps/api/src/test/util/constants.ts
  apps/api/src/test/util/util.spec.ts
Due: api

feat(api): added create TrainerTags ws Also, fixed and issue which made the Trainer not save the relations of the tags when a Trainer is created. HBL-134 #1h 15m
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.spec.ts
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.ts
  apps/api/src/app/controllers/TrainerTag/index.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/routes/Tags.routes.spec.ts
  apps/api/src/app/routes/Tags.routes.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/TrainerTag/TrainerTag.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/entities/src/lib/Trainer.ts
  libs/shared/models/entities/src/lib/TrainerTag.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: api, shared-models-dto

feat(api): added update TrainerTag ws HBL-134 #time 20m
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.spec.ts
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.ts
  apps/api/src/app/controllers/TrainerTag/index.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/routes/Tags.routes.spec.ts
  apps/api/src/app/routes/Tags.routes.ts
Due: api

feat(api): added delete TrainerTag ws HBL-134 #time 10m
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.spec.ts
  apps/api/src/app/controllers/TrainerTag/TrainerTag.controller.ts
  apps/api/src/app/controllers/TrainerTag/index.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/routes/Tags.routes.spec.ts
  apps/api/src/app/routes/Tags.routes.ts
  libs/shared/models/entities/src/lib/TrainerTag.ts
Due: api

test(api): added TrainerTag e2e HBL-134 #time 25m
  apps/api/src/test/Tags/TrainerTags/TrainerTags.spec.ts
  apps/api/src/test/Tags/TrainerTags/index.ts
  apps/api/src/test/Tags/index.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  apps/api/src/test/util/constants.ts
Due: api

chore: run `nx migrate latest`
  package-lock.json
  package.json
Due: none

feat(shared): rm ThemColor in favor of AppPalette HBL-141 #time 15m
  apps/api/src/test/e2e-setup.ts
  libs/shared/models/dto/src/lib/Gym/Gym.spec.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/dto/src/lib/util/creators.ts
  libs/shared/models/entities/src/lib/Gym.ts
  libs/shared/types/src/lib/enums.ts
Due: api, shared-models-dto, shared-types

fix(api): resolve TS errors due to DeepPartial HBL-141 #time 15m
  apps/api/src/app/services/Base/Base.service.ts
Due: api

chore: remove frontend containers
  docker-compose.yaml
Due: none

feat: added shared ui libraries
  libs/data-access/api/.babelrc
  libs/data-access/api/.eslintrc.json
  libs/data-access/api/README.md
  libs/data-access/api/jest.config.js
  libs/data-access/api/project.json
  libs/data-access/api/src/index.ts
  libs/data-access/api/src/lib/data-access-api.spec.ts
  libs/data-access/api/src/lib/data-access-api.ts
  libs/data-access/api/tsconfig.json
  libs/data-access/api/tsconfig.lib.json
  libs/data-access/api/tsconfig.spec.json
  libs/data-access/contexts/.babelrc
  libs/data-access/contexts/.eslintrc.json
  libs/data-access/contexts/README.md
  libs/data-access/contexts/jest.config.js
  libs/data-access/contexts/project.json
  libs/data-access/contexts/src/index.ts
  libs/data-access/contexts/src/lib/data-access-contexts.spec.ts
  libs/data-access/contexts/src/lib/data-access-contexts.ts
  libs/data-access/contexts/tsconfig.json
  libs/data-access/contexts/tsconfig.lib.json
  libs/data-access/contexts/tsconfig.spec.json
  libs/ui/components/.babelrc
  libs/ui/components/.eslintrc.json
  libs/ui/components/README.md
  libs/ui/components/jest.config.js
  libs/ui/components/project.json
  libs/ui/components/src/index.ts
  libs/ui/components/src/lib/ui-components.spec.ts
  libs/ui/components/src/lib/ui-components.ts
  libs/ui/components/tsconfig.json
  libs/ui/components/tsconfig.lib.json
  libs/ui/components/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

fix: change shared lib types HBL-155
  libs/data-access/contexts/.babelrc
  libs/data-access/contexts/.eslintrc.json
  libs/data-access/contexts/jest.config.js
  libs/data-access/contexts/project.json
  libs/data-access/contexts/src/lib/data-access-contexts.spec.ts
  libs/data-access/contexts/src/lib/data-access-contexts.spec.tsx
  libs/data-access/contexts/src/lib/data-access-contexts.ts
  libs/data-access/contexts/src/lib/data-access-contexts.tsx
  libs/ui-components/.babelrc
  libs/ui-components/.eslintrc.json
  libs/ui-components/README.md
  libs/ui-components/jest.config.js
  libs/ui-components/project.json
  libs/ui-components/src/index.ts
  libs/ui-components/src/lib/ui-components.spec.tsx
  libs/ui-components/src/lib/ui-components.tsx
  libs/ui-components/tsconfig.json
  libs/ui-components/tsconfig.lib.json
  libs/ui-components/tsconfig.spec.json
  libs/ui/components/.babelrc
  libs/ui/components/jest.config.js
  libs/ui/components/src/lib/ui-components.spec.ts
  libs/ui/components/src/lib/ui-components.ts
  libs/ui/components/tsconfig.json
  libs/ui/components/tsconfig.lib.json
  tsconfig.base.json
  workspace.json
Due: none

feat(data): added api instance generator HBL-155 #time 20m
  libs/data-access/api/src/lib/Base/Base.api.ts
  libs/data-access/api/src/lib/Base/Base.spec.ts
  libs/data-access/api/src/lib/Base/index.ts
  libs/data-access/api/src/lib/data-access-api.spec.ts
  libs/data-access/api/src/lib/data-access-api.ts
  libs/data-access/api/src/lib/index.ts
  package-lock.json
  package.json
Due: none

chore(ui): moved components into a folder HBL-155
  libs/ui/components/.babelrc
  libs/ui/components/.eslintrc.json
  libs/ui/components/README.md
  libs/ui/components/jest.config.js
  libs/ui/components/project.json
  libs/ui/components/src/index.ts
  libs/ui/components/src/lib/ui-components.spec.tsx
  libs/ui/components/src/lib/ui-components.tsx
  libs/ui/components/tsconfig.json
  libs/ui/components/tsconfig.lib.json
  libs/ui/components/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

chore: added new libs workflows HBL-155 #time 10m
  .github/workflows/ci-libs-data-access-api.yml
  .github/workflows/ci-libs-data-access-contexts.yml
  .github/workflows/ci-libs-shared-models-helpers.yml
  .github/workflows/ci-libs-ui-components.yml
  codecov.yaml
Due: none

refactor(types): moved `ParsedToken` into types HBL-146
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/controllers/Token/Token.controller.spec.ts
  apps/api/src/app/controllers/Token/Token.controller.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/controllers/helpers/types.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/Person/Owner.spec.ts
  apps/api/src/test/Person/Trainer.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/Token/Token.spec.ts
  libs/shared/types/src/index.ts
  libs/shared/types/src/lib/types.ts
Due: api, shared-types

feat(utils): added utils lib HBL-146
  libs/utils/.babelrc
  libs/utils/.eslintrc.json
  libs/utils/README.md
  libs/utils/jest.config.js
  libs/utils/project.json
  libs/utils/src/index.ts
  libs/utils/src/lib/functions.spec.ts
  libs/utils/src/lib/functions.ts
  libs/utils/tsconfig.json
  libs/utils/tsconfig.lib.json
  libs/utils/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

chore(utils): added ci worflows for utils HBL-146
  .github/workflows/ci-utils.yml
  codecov.yaml
Due: none

chore(utils): fix jest coverage config HBL-146
  libs/utils/jest.config.js
Due: none

feat(ui): added Input component The component still has to be tested HBL-146
  libs/ui/components/jest.config.js
  libs/ui/components/src/index.ts
  libs/ui/components/src/lib/Input/Input.tsx
  libs/ui/components/src/lib/Input/index.ts
  libs/ui/components/src/lib/index.ts
  libs/ui/components/src/lib/ui-components.spec.tsx
  libs/ui/components/src/lib/ui-components.tsx
Due: none

refactor(ci): rename to keep consistency HBL-146
  .github/workflows/ci-libs-shared-models-dto.yml
Due: none

Path conditions:
  api: any of: apps/api/src
  client: any of: apps/client/src
  client-e2e: any of: apps/client-e2e/src
  core: any of: apps/core/src
  core-e2e: any of: apps/core-e2e/src
  landing: any of: apps/landing/src
  landing-e2e: any of: apps/landing-e2e/src
  shared-models-body-validators: any of: libs/shared/models/body-validators
  shared-models-dto: any of: libs/shared/models/dto
  shared-models-helpers: any of: libs/shared/models/helpers
  shared-types: any of: libs/shared/types
