Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, shared-models, shared-types

codecov.yaml:

flags:
  # Apps
  api:
    paths:
      - apps/api/src
  client:
    paths: 
      - apps/client/src    
  client-e2e:
    paths: 
      - apps/client-e2e/src
  core:
    paths: 
      - apps/core/src
  core-e2e:
    paths: 
      - apps/core-e2e/src
  landing:
    paths: 
      - apps/landing/src
  landing-e2e:
    paths: 
      - apps/landing-e2e/src
  # Libs
  shared-models:
    paths:
      - libs/shared/models
  shared-types:
    paths:
      - libs/shared/types

refactor(api): change to singular names
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Appointments/Calendar/index.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.ts
  apps/api/src/app/controllers/Appointments/Event/index.ts
  apps/api/src/app/controllers/Appointments/index.ts
Due: api

refactor(api): fn to validate user calendar access HBL-29 HBl-63 #time 1h 30m
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/helpers/index.ts
  apps/api/src/app/controllers/helpers/validations.spec.ts
  apps/api/src/app/controllers/helpers/validations.ts
  package-lock.json
Due: api

feat(shared): make `fromClass` synchronous HBL-99 #time 30m
  libs/shared/models/dto/src/lib/CalendarAppointment/CalendarAppointment.spec.ts
  libs/shared/models/dto/src/lib/CalendarAppointment/CalendarAppointment.ts
  libs/shared/models/dto/src/lib/CalendarDate/CalendarDate.spec.ts
  libs/shared/models/dto/src/lib/CalendarDate/CalendarDate.ts
  libs/shared/models/dto/src/lib/Client/Client.spec.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.spec.ts
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.ts
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.spec.ts
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.ts
  libs/shared/models/dto/src/lib/EventType/EventType.spec.ts
  libs/shared/models/dto/src/lib/EventType/EventType.ts
  libs/shared/models/dto/src/lib/Gym/Gym.spec.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.spec.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.ts
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.spec.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/entities/src/lib/Event.ts
Due: shared-models

feat(api): apply async `fromClass` where misssing HBL-99 #time 30m #review
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.spec.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.ts
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
  apps/api/src/app/controllers/EventType/EventType.controller.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/create.spec.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/types.ts
Due: api

chore(docker): rename api container name
  docker-compose.yaml
Due: none

feat(api): fetch `Calendar` event controller HBL-29 HBL-63 #time 4h #review
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Calendar/index.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/GymZone/index.ts
  apps/api/src/app/controllers/helpers/create.spec.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/Calendars.routes.ts
  apps/api/src/app/routes/index.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
Due: api, shared-models

fix(api): ensure `Trainer` events are not overlapped HBL-29 HBL-73 #time 45m #review
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/controllers/GymZone/index.ts
Due: api

feat(api): fetch `Calendar` event app. list HBL-29 HBL-64 #time 2h #review
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Calendar/index.ts
  apps/api/src/app/routes/Calendars.routes.ts
Due: api

feat(api): fetch `Calendar` appointments list HBL-29 HBL-67 #time 1h 15m #review
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Calendar/index.ts
  apps/api/src/app/routes/Calendars.routes.ts
  package-lock.json
  package.json
Due: api

feat(api): add missing `log` on failing HBL-100 #time 30m #review
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
Due: api

chore: testing ci workflows
  apps/api/src/main.ts
  libs/shared/models/body-validators/src/index.ts
Due: api, shared-models

refactor(ci): renamed workflows HBL-106
  .github/actions/ci/action.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs-shared-dto.yml
  .github/workflows/ci-libs-shared-models-body-validators.yml
  .github/workflows/ci-libs-shared-models.yml
  .github/workflows/ci-shared-models-helpers.yml
Due: none

test(shared): improved `shared-model-helpers` cvg HBL-108 #time 15m #review
  libs/shared/models/helpers/src/lib/error-messages.spec.ts
Due: shared-models

chore: added `carryforward` flag
  codecov.yaml
Due: none

chore(ci): temp worflow_dispatch
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs-shared-dto.yml
  .github/workflows/ci-libs-shared-models-body-validators.yml
  .github/workflows/ci-shared-models-helpers.yml
Due: none

chore(ci): rm workflow_dispatch
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs-shared-dto.yml
  .github/workflows/ci-libs-shared-models-body-validators.yml
  .github/workflows/ci-shared-models-helpers.yml
Due: none

feat(api): removed usage of `by` params HBL-101 HBL-103 #time 3h #review
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.ts
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Base/DeleteByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/Base/DeleteByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.spec.ts
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Owner.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/helpers/create.spec.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/delete.spec.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/controllers/helpers/types.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/routes/Calendars.routes.ts
  apps/api/src/app/routes/Persons.routes.ts
Due: api

refactor: run `format:write` HBL-101
  .github/actions/ci/action.yml
  docker-compose.yaml
  libs/shared/models/dto/tsconfig.spec.json
Due: shared-models

feat(api): token endpoints HBL-101 HBL-104 #time 1h 30m #review HBL-105 #time 1h 30m #review
  apps/api/src/app/controllers/Token/Token.controller.spec.ts
  apps/api/src/app/controllers/Token/Token.controller.ts
  apps/api/src/app/controllers/Token/index.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/Token.routes.ts
  apps/api/src/app/routes/index.ts
Due: api

fix(api): fix typo HBL-101
  apps/api/src/app/controllers/Token/Token.controller.ts
Due: api

test(api): environments tests HBL-107 #time 5m
  apps/api/src/environments/environments.spec.ts
Due: api

test(api): added database config tests HBL-107 #time 45m
  apps/api/src/config/cors-config.spec.ts
  apps/api/src/config/database.spec.ts
  apps/api/src/config/database.ts
Due: api

test(api): added routes tests HBL-107 #time 4h 45m
  apps/api/src/app/middlewares/auth.middleware.ts
  apps/api/src/app/routes/Appointments.routes.spec.ts
  apps/api/src/app/routes/Appointments.routes.ts
  apps/api/src/app/routes/Calendars.routes.spec.ts
  apps/api/src/app/routes/EventTemplate.routes.spec.ts
  apps/api/src/app/routes/EventTypes.routes.spec.ts
  apps/api/src/app/routes/Events.routes.spec.ts
  apps/api/src/app/routes/GymZone.routes.spec.ts
  apps/api/src/app/routes/Person.routes.spec.ts
  apps/api/src/app/routes/Token.routes.spec.ts
  apps/api/src/app/routes/VirtualGym.routes.spec.ts
  apps/api/src/app/routes/index.ts
  apps/api/src/main.ts
  apps/api/src/server.ts
  docker-compose.yaml
  package-lock.json
  package.json
Due: api

docs(api): added missing docs HBL-107
  apps/api/src/app/routes/VirtualGym.routes.ts
Due: api

chore: dump versions
  package-lock.json
  package.json
Due: none

test(api): int test set up HBL-109 HBL-110 #time 3h
  apps/api/project.json
  apps/api/src/test/global-setup.ts
  apps/api/src/test/test.spec.ts
Due: api

test(api): improved set up HBL-109 HBL-110 #time 20m
  apps/api/project.json
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  apps/api/src/test/test.spec.ts
  apps/api/src/test/util/constants.ts
  apps/api/src/test/util/index.ts
Due: api

fix(shared): worker-owner relationship HBL-109
  libs/shared/models/entities/src/lib/Owner.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: shared-models

fix(shared): trainer-owner relationship HBL-109
  libs/shared/models/entities/src/lib/Trainer.ts
Due: shared-models

test(api): login/register e2e tests HBL-109 HBL-111 #time 2h 30m
  apps/api/src/app/controllers/Person/helpers/login.spec.ts
  apps/api/src/app/controllers/Person/helpers/login.ts
  apps/api/src/app/services/Base/Base.service.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/Person/Owner.spec.ts
  apps/api/src/test/Person/Trainer.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/Person/helpers.ts
  apps/api/src/test/Person/index.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  apps/api/src/test/util/constants.ts
  apps/api/src/test/util/index.ts
  apps/api/src/test/util/util.spec.ts
Due: api

chore: fix dev api container issues HBL-109
  apps/api/tsconfig.app.json
  docker-compose.yaml
Due: none

chore(api): added `dotenv` dev for e2e tests HBL-109
  apps/api/project.json
  package-lock.json
  package.json
Due: none

test(api): added person update e2e tests HBL-109 HBL-111 #time 1h 30m
  apps/api/src/app/services/Base/Base.service.spec.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/Person/Owner.spec.ts
  apps/api/src/test/Person/Trainer.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  apps/api/src/test/util/constants.ts
Due: api

docs(api): test README
  apps/api/README.md
Due: none

docs: add license file
  LICENSE
Due: none

docs(api): improved README HBL-9 #time 30m
  apps/api/README.md
  static/Logo.svg
Due: none

chore(docker): added `docker-compose` profiles HBL-120 #time 30m #review
  docker-compose.yaml
Due: none

docs(api): improved README HBL-9 #time 15m
  apps/api/README.md
Due: none

test(api): improved e2e person tests HBL-109 #time 30m
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/Person/Owner.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/index.spec.ts
Due: api

test(api): added token e2e tests HBL-109 HBL-113 #time 45m
  apps/api/src/app/controllers/Token/Token.controller.ts
  apps/api/src/test/Token/Token.spec.ts
  apps/api/src/test/Token/index.ts
  apps/api/src/test/index.spec.ts
Due: api
