Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 90%
      libs:
        target: 100%
        flags:
          - shared-models
          - shared-types

comment:
  layout: 'diff, flags, files'
  require_changes: true

flags:
  # Apps
  api:
    paths:
      - apps/api/src
    carryforward: true
  client:
    paths:
      - apps/client
    carryforward: true
  client-e2e:
    paths:
      - apps/client-e2e/src
    carryforward: true
  core:
    paths:
      - apps/core
    carryforward: true
  core-e2e:
    paths:
      - apps/core-e2e/src
    carryforward: true
  landing:
    paths:
      - apps/landing
    carryforward: true
  landing-e2e:
    paths:
      - apps/landing-e2e/src
    carryforward: true
  # Libs
  data-access-api:
    paths:
      - libs/data-access/api
    carryforward: true
  data-access-contexts:
    paths:
      - libs/data-access/contexts
    carryforward: true
  shared-models-body-validators:
    paths:
      - libs/shared/models/body-validators
    carryforward: true
  shared-models-dto:
    paths:
      - libs/shared/models/dto
    carryforward: true
  shared-models-helpers:
    paths:
      - libs/shared/models/helpers
    carryforward: true
  shared-types:
    paths:
      - libs/shared/types
    carryforward: true
  ui-components:
    paths:
      - libs/ui/components
    carryforward: true
  utils:
    paths:
      - libs/utils
    carryforward: true

chore(docker): fixed docker compose build file
  docker-compose.yaml
  example/example.env
Due: none

feat(data-access): added prop to change prim color HBL-255
  libs/data-access/contexts/src/lib/App/App.context.tsx
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
Due: data-access-contexts

feat(core): rm already injected ThemeProvider HBL-255
  apps/core/pages/_app.tsx
Due: core

feat(core): rm images to svg to change fill color HBL-255 #time 30m
  apps/core/components/Layout/Waves/GeneralPages.tsx
  apps/core/components/Layout/Waves/PersonnelPages.tsx
  apps/core/components/Layout/Waves/SettingsPages.tsx
  apps/core/components/Layout/Waves/utils.ts
  apps/core/public/WavesGeneral1.svg
  apps/core/public/WavesGeneral2.svg
  apps/core/public/WavesGeneral3.svg
  apps/core/public/WavesPersonnel1.svg
  apps/core/public/WavesPersonnel2.svg
  apps/core/public/WavesPersonnel3.svg
  apps/core/public/WavesSettings1.svg
  apps/core/public/WavesSettings2.svg
  apps/core/public/WavesSettings3.svg
Due: core

fix(core): incorrect font-family on links HBL-255
  apps/core/styles/styles.css
Due: core

feat(client): added layout components HBL-235 #time 30m
  apps/client/components/Layout/BaseLayout/BaseLayout.spec.tsx
  apps/client/components/Layout/BaseLayout/BaseLayout.tsx
  apps/client/components/Layout/BaseLayout/index.ts
  apps/client/components/Layout/ClientSideNav/ClientSideNav.spec.tsx
  apps/client/components/Layout/ClientSideNav/ClientSideNav.tsx
  apps/client/components/Layout/ClientSideNav/index.ts
  apps/client/components/Layout/Waves/SettingsPages.spec.tsx
  apps/client/components/Layout/Waves/SettingsPages.tsx
  apps/client/components/Layout/Waves/index.ts
  apps/client/components/Layout/Waves/utils.ts
  apps/client/components/Layout/index.ts
Due: client

feat(client): client settings page HBL-233 #time 15m
  apps/client/pages/settings/index.spec.tsx
  apps/client/pages/settings/index.tsx
Due: client

refactor(core): minor test refactor HBL-233
  apps/core/pages/settings/index.tsx
Due: core

feat(client): dashboard page layout HBL-236 #time 5m
  apps/client/components/Layout/Waves/GeneralPages.spec.tsx
  apps/client/components/Layout/Waves/GeneralPages.tsx
  apps/client/components/Layout/Waves/index.ts
  apps/client/pages/dashboard/index.spec.tsx
  apps/client/pages/dashboard/index.tsx
Due: client

feat(ui): hide add button if onClick no given HBL-237
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.tsx
Due: ui-components

feat(client): list of virtual gyms in dashboard HBL-237 #time 20m
  apps/client/pages/dashboard/index.spec.tsx
  apps/client/pages/dashboard/index.tsx
Due: client

feat(ui): hide add button if onClick not given HBL-238
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.tsx
Due: ui-components

feat(client): list of gym zones in dashboard HBL-238 #time 10m
  apps/client/pages/dashboard/index.spec.tsx
  apps/client/pages/dashboard/index.tsx
Due: client

feat(client): display the list of today events HBL-240 #time 15m
  apps/client/pages/dashboard/index.spec.tsx
  apps/client/pages/dashboard/index.tsx
Due: client

fix(core): revert custom decoration color
  apps/core/components/Layout/Waves/GeneralPages.tsx
  apps/core/components/Layout/Waves/PersonnelPages.tsx
  apps/core/components/Layout/Waves/SettingsPages.tsx
  apps/core/components/Layout/Waves/utils.ts
  apps/core/public/WavesGeneral1.svg
  apps/core/public/WavesGeneral2.svg
  apps/core/public/WavesGeneral3.svg
  apps/core/public/WavesPersonnel1.svg
  apps/core/public/WavesPersonnel2.svg
  apps/core/public/WavesPersonnel3.svg
  apps/core/public/WavesSettings1.svg
  apps/core/public/WavesSettings2.svg
  apps/core/public/WavesSettings3.svg
Due: core

fix(data-access): remove inline styles for decos HBL-257
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
Due: data-access-contexts

feat(api): improve token validation HBL-256 #time 20m
  apps/api/project.json
  apps/api/src/app/controllers/Token/Token.controller.spec.ts
  apps/api/src/app/controllers/Token/Token.controller.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/Token/Token.spec.ts
Due: api

feat(core): clients page layout HBL-202 #time 10m
  apps/core/pages/clients/index.spec.tsx
  apps/core/pages/clients/index.tsx
Due: core

feat(core): table header and row for clients HBL-203 #time 10m
  apps/core/components/pages/clients/TableHeader.spec.tsx
  apps/core/components/pages/clients/TableHeader.tsx
  apps/core/components/pages/clients/TableRow.spec.tsx
  apps/core/components/pages/clients/TableRow.tsx
  apps/core/components/pages/clients/index.ts
Due: core

fix(api): `leftJoin` for `innerJoin` HBL-258 #time 40m
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Dashboard/Dashboard.controller.spec.ts
  apps/api/src/app/controllers/Dashboard/Dashboard.controller.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.spec.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/Person/helpers/fetch.spec.ts
  apps/api/src/app/controllers/Person/helpers/fetch.ts
  apps/api/src/app/controllers/Person/helpers/login.spec.ts
  apps/api/src/app/controllers/Person/helpers/login.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/validations.spec.ts
  apps/api/src/app/controllers/helpers/validations.ts
Due: api

fix(core): table header ui improvements HBL-203
  apps/core/components/pages/clients/TableHeader.tsx
Due: core

fix(data-access): set token properly on login HBL-203
  libs/data-access/contexts/src/lib/App/Context.tsx
Due: data-access-contexts

fix(core): change clients redirect from side nav HBL-203
  apps/core/components/Layout/CoreSideNav/CoreSideNav.tsx
Due: core

feat(core): display table of clients HBL-203 #time 35m
  apps/core/components/pages/index.ts
  apps/core/pages/clients/index.spec.tsx
  apps/core/pages/clients/index.tsx
Due: core

feat(ui): added client dialog HBL-204 #time 30m
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientPermissions/ClientPermissions.spec.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientPermissions/ClientPermissions.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientPermissions/index.ts
  libs/ui/components/src/lib/Dialogs/ClientDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

feat(ui): added client phone to dialog HBL-204 #time 15m
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientPermissions/ClientPermissions.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonPhone/PersonPhone.spec.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonPhone/PersonPhone.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonPhone/index.ts
  libs/ui/components/src/lib/Dialogs/Person/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

feat(ui): added `fullWidth` prop to person gender HBL-204 #time 5m
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonGender/PersonGender.spec.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonGender/PersonGender.tsx
Due: ui-components

feat(ui): add password text in client dialog HBL-204 #time 15m
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.tsx
Due: ui-components

fix(ui): add title to table add button HBL-204
  libs/ui/components/src/lib/Table/Table.spec.tsx
  libs/ui/components/src/lib/Table/Table.tsx
Due: ui-components

feat(core): post and put clients in clients page HBL-204 #time 25m
  apps/core/pages/clients/index.spec.tsx
  apps/core/pages/clients/index.tsx
Due: core

fix(core): added table add item
  apps/core/pages/trainers/index.tsx
Due: core

fix: add global typography style HBL-204
  apps/core/styles/styles.css
Due: core

test(core): improve coverage HBL-204
  apps/core/components/pages/dashboard/DashboardEvents.spec.tsx
Due: core

fix(ui): fix infinite loading on trainer's dialog HBL-259 #time 15m
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerTags/TrainerTags.tsx
Due: ui-components

feat(core): add trainers from the dashboard
  apps/core/components/pages/dashboard/DashboardTrainers.spec.tsx
  apps/core/components/pages/dashboard/DashboardTrainers.tsx
Due: core

feat(core): add feedback on adding items in dash HBL-259 #time 15m
  apps/core/components/pages/dashboard/DashboardEvents.spec.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.spec.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.spec.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.tsx
Due: core

feat(data-access): added router changes feedback HBL-259 #time 15m
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/App.context.tsx
Due: data-access-contexts

feat(core): added workers page layout HBL-198 #time 5m
  apps/core/components/Layout/CoreSideNav/CoreSideNav.tsx
  apps/core/pages/workers/index.spec.tsx
  apps/core/pages/workers/index.tsx
Due: core

feat(core): table row & header for workers table HBL-199
  apps/core/components/pages/index.ts
  apps/core/components/pages/workers/TableHeader.spec.tsx
  apps/core/components/pages/workers/TableHeader.tsx
  apps/core/components/pages/workers/TableRow.spec.tsx
  apps/core/components/pages/workers/TableRow.tsx
  apps/core/components/pages/workers/index.ts
Due: core

feat(ui): refactor `SideToggler` component HBL-199 #time 15m
  libs/ui/components/src/lib/SideToggler/SideToggler.spec.tsx
  libs/ui/components/src/lib/SideToggler/SideToggler.tsx
  libs/ui/components/src/lib/SideToggler/index.ts
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.spec.tsx
  libs/ui/components/src/lib/TodayEventsList/TodayEventsList.tsx
Due: ui-components
