Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

feat(data-access): attached API to AppContext HBL-170 #time 2h
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/App.context.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
  libs/ui/components/src/lib/SettingsUserInfo/Form/types.ts
  libs/ui/components/src/lib/SettingsUserInfo/index.ts
  libs/ui/components/src/lib/index.ts
Due: data-access-contexts, ui-components

feat(tools): improved `component` generator HBL-170
  tools/generators/component/index.ts
  tools/generators/component/schema.json
Due: none

feat(core): put user changes HBL-170
  apps/core/pages/settings.tsx
Due: core

refactor(core): rename app component HBL-170
  apps/core/pages/_app.tsx
Due: core

feat(ui): memoized `SettingsUserInfo` component Memoizing the component, the amount of renders of the form is reduced and it also removes visual effects issues. HBL-170 #time 15m
  libs/ui/components/src/lib/SettingsUserInfo/SettingsUserInfo.tsx
Due: ui-components

refactor(ui): mv settings components in folder HBL-171
  libs/ui/components/src/lib/Settings/SettingsLogout/SettingsLogout.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsLogout/SettingsLogout.tsx
  libs/ui/components/src/lib/Settings/SettingsLogout/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Email/Email.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Email/Email.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Email/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/EmailConfirmation/EmailConfirmation.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/EmailConfirmation/EmailConfirmation.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/EmailConfirmation/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/FirstName/FirstName.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/FirstName/FirstName.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/FirstName/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Gender/Gender.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Gender/Gender.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Gender/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/LastName/LastName.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/LastName/LastName.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/LastName/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Phone/Phone.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Phone/Phone.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Phone/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/types.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/SettingsUserInfo.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/SettingsUserInfo.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/index.ts
  libs/ui/components/src/lib/Settings/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

fix(data-access): minor fix to aviod render issue HBL-171 #30m
  apps/core/pages/settings.tsx
  libs/data-access/contexts/src/lib/App/App.context.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
  libs/ui/components/src/lib/Settings/Common/SettingsCard/SettingsCard.spec.tsx
  libs/ui/components/src/lib/Settings/Common/SettingsCard/SettingsCard.tsx
  libs/ui/components/src/lib/Settings/Common/SettingsCard/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/SettingsUserInfo.tsx
Due: core, data-access-contexts, ui-components

feat(ui): added `SettingsUserInfo` component HBL-171 #time 1h
  libs/ui/components/src/lib/LoadingButton/LoadingButton.tsx
  libs/ui/components/src/lib/Settings/Common/index.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/SettingsUserInfo.tsx
  libs/ui/components/src/lib/Settings/SettingsUserPassword/SettingsUserPassword.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserPassword/SettingsUserPassword.tsx
  libs/ui/components/src/lib/Settings/SettingsUserPassword/index.ts
  libs/ui/components/src/lib/Settings/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

feat(core): password change in settings HBL-171
  apps/core/pages/settings.tsx
Due: core

feat(ui): improved responsiveness HBL-171 #time 30m
  libs/ui/components/src/lib/Settings/SettingsUserInfo/SettingsUserInfo.tsx
  libs/ui/components/src/lib/Settings/SettingsUserPassword/SettingsUserPassword.tsx
  libs/ui/components/src/lib/SideNav/SideNav.tsx
  libs/ui/components/src/lib/SideNavGroup/SideNavGroup.tsx
  libs/ui/components/src/lib/SideNavLink/SideNavLink.tsx
Due: ui-components

test(ui): fixed tests due to last commit Coverage is not at 100% since I cannot find a way of mocking `useMediaQuery`. HBL-171 #time 45m
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Email/Email.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Email/Email.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/EmailConfirmation/EmailConfirmation.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/EmailConfirmation/EmailConfirmation.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/FirstName/FirstName.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/FirstName/FirstName.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Gender/Gender.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Gender/Gender.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/LastName/LastName.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/LastName/LastName.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Phone/Phone.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Phone/Phone.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/SettingsUserInfo.tsx
  libs/ui/components/src/lib/SideNav/SideNav.spec.tsx
  libs/ui/components/src/lib/SideNavGroup/SideNavGroup.spec.tsx
  libs/ui/components/src/lib/SideNavLink/SideNavLink.spec.tsx
Due: ui-components

test(ui): fixed `useMediaQuery` tests HBL-171 #time 30m
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Gender/Gender.spec.tsx
  libs/ui/components/src/lib/SideNav/SideNav.spec.tsx
  libs/ui/components/src/lib/SideNavGroup/SideNavGroup.spec.tsx
  libs/ui/components/src/lib/SideNavLink/SideNavLink.spec.tsx
Due: ui-components

feat(core): added decoration waves HBL-172 #time 25m
  apps/core/components/Layout/Waves/SettingsPages.tsx
  apps/core/components/Layout/Waves/index.ts
  apps/core/components/Layout/index.ts
  apps/core/public/WavesSettings1.svg
  apps/core/public/WavesSettings2.svg
  apps/core/public/WavesSettings3.svg
Due: core

feat(shared): added `cyan` color HBL-172
  libs/shared/types/src/lib/enums.ts
Due: shared-types

feat(ui): export `SettingsCard` component HBL-172
  libs/ui/components/src/lib/Settings/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

test(core): improve coverage in file HBL-172
  apps/core/components/Layout/Waves/SettingsPages.spec.tsx
Due: core

feat(core): added settings `ColorPicker` component HBL-172
  apps/core/components/pages/settings/SettingsGymInfo/ColorPicker.spec.tsx
  apps/core/components/pages/settings/SettingsGymInfo/ColorPicker.tsx
Due: core

feat(core): added settings to update gym info Refactored `settings` page into a folder component. HBL-172 #time 2h 15m
  apps/core/components/pages/index.ts
  apps/core/components/pages/settings/SettingsGymInfo/SettingsGymInfo.spec.tsx
  apps/core/components/pages/settings/SettingsGymInfo/SettingsGymInfo.tsx
  apps/core/components/pages/settings/SettingsGymInfo/index.tsx
  apps/core/components/pages/settings/SettingsGymInfo/types.ts
  apps/core/components/pages/settings/index.ts
  apps/core/pages/settings/index.tsx
Due: core

feat(core): allow custom layouts HBL-172
  apps/core/pages/_app.tsx
Due: core

refator: run `nx format:write` HBL-172
  .github/workflows/ci-core.yml
  apps/api/src/main.ts
  apps/core/components/pages/auth/signup/StepTwo.spec.tsx
  apps/core/components/pages/settings/SettingsGymInfo/SettingsGymInfo.tsx
  apps/core/styles/styles.css
  apps/core/tsconfig.json
  docker-compose.yaml
  libs/data-access/api/src/index.ts
  libs/data-access/api/src/lib/Base/index.ts
  libs/data-access/api/src/lib/fetcher/index.ts
  libs/data-access/api/src/lib/index.ts
  libs/data-access/contexts/src/lib/App/index.ts
  libs/ui/components/src/lib/Input/index.ts
  libs/ui/components/src/lib/PageHeader/PageHeader.spec.tsx
  libs/ui/components/src/lib/Settings/Common/SettingsCard/SettingsCard.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Phone/Phone.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/types.ts
  nx.json
Due: api, core, data-access-api, data-access-contexts, ui-components

chore: run `nx migrate latest` An error was being thrown due to the `bcrypt` dependency. Reinstalling `node_modules` seems to solve the issue. HBL-172 #time 25m
  package-lock.json
  package.json
Due: none

feat(api): added `UpdateByOwner` controller HBL-172 #time 15m
  apps/api/src/app/controllers/Base/UpdateByOwner.controller.spec.ts
  apps/api/src/app/controllers/Base/UpdateByOwner.controller.ts
  apps/api/src/app/controllers/Base/index.ts
  apps/api/src/app/controllers/helpers/update.ts
Due: api

feat(api): added `GymController` HBL-172
  apps/api/src/app/controllers/Gym/Gym.controller.spec.ts
  apps/api/src/app/controllers/Gym/Gym.controller.ts
  apps/api/src/app/controllers/Gym/index.ts
  libs/shared/models/dto/src/lib/index.ts
Due: api, shared-models-dto

feat(api): fixed gym update security HBL-172 #time 2h 45m
  apps/api/jest.config.js
  apps/api/src/app/controllers/Base/UpdateByOwner.controller.spec.ts
  apps/api/src/app/controllers/Base/UpdateByOwner.controller.ts
  apps/api/src/app/controllers/Base/index.ts
  apps/api/src/app/controllers/Gym/Gym.controller.spec.ts
  apps/api/src/app/controllers/Gym/Gym.controller.ts
  apps/api/src/app/controllers/Gym/index.ts
  apps/api/src/app/controllers/Person/helpers/register.spec.ts
  apps/api/src/app/controllers/Person/helpers/register.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/Gym.routes.spec.ts
  apps/api/src/app/routes/Gym.routes.ts
  apps/api/src/app/routes/index.ts
  libs/shared/models/entities/src/lib/Gym.ts
  libs/shared/models/entities/src/lib/Owner.ts
Due: api

fix(api): `Gym` PUT null constraint error HBL-172 #time 45m
  apps/api/src/app/controllers/Gym/Gym.controller.spec.ts
  apps/api/src/app/controllers/Gym/Gym.controller.ts
  apps/api/src/test/Gym/Gym.spec.ts
  apps/api/src/test/Gym/index.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/Person/Owner.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/entities/src/lib/EventTemplate.ts
  libs/shared/models/entities/src/lib/Gym.ts
  libs/shared/models/entities/src/lib/TrainerTag.ts
Due: api, shared-models-dto

feat(data-access): added `GymApi` in `AppContext` HBL-172 #time 30m
  libs/data-access/api/src/lib/Gym/Gym.api.ts
  libs/data-access/api/src/lib/Gym/Gym.spec.ts
  libs/data-access/api/src/lib/Gym/index.ts
  libs/data-access/api/src/lib/index.ts
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
Due: data-access-api, data-access-contexts

feat(core): attacher update gym api HBL-172 #time 10m
  apps/core/pages/settings/index.tsx
Due: core

test(core): added `Settings` page unit tests HBL-172 #time 1h 45m
  apps/core/components/pages/settings/SettingsGymInfo/SettingsGymInfo.spec.tsx
  apps/core/components/pages/settings/SettingsGymInfo/SettingsGymInfo.tsx
  apps/core/pages/settings/index.spec.tsx
  apps/core/pages/settings/index.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Email/Email.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/EmailConfirmation/EmailConfirmation.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/FirstName/FirstName.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Gender/Gender.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/LastName/LastName.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/Form/Phone/Phone.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/SettingsUserInfo.spec.tsx
  libs/ui/components/src/lib/Settings/SettingsUserInfo/SettingsUserInfo.tsx
  libs/ui/components/src/lib/Settings/SettingsUserPassword/SettingsUserPassword.tsx
Due: core, data-access-contexts, ui-components

test: fix failing tests HBL-172
  libs/data-access/api/src/lib/Gym/Gym.spec.ts
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/shared/models/dto/src/lib/Gym/Gym.spec.ts
  package.json
Due: data-access-api, data-access-contexts, shared-models-dto

feat(core): added `ContentContainer` component HBL-157 #time 10m
  apps/core/components/Layout/ContentContainer.spec.tsx
  apps/core/components/Layout/ContentContainer.tsx
  apps/core/components/Layout/index.ts
  apps/core/pages/settings/index.tsx
Due: core

feat(core): added `CoreSideNav` component HBL-157 #time 5m
  apps/core/components/Layout/CoreSideNav.spec.tsx
  apps/core/components/Layout/CoreSideNav.tsx
Due: core

refactor(core): moved components into their folder HBL-157
  apps/core/components/Layout/Auth/Auth.spec.tsx
  apps/core/components/Layout/Auth/Auth.tsx
  apps/core/components/Layout/Auth/index.ts
  apps/core/components/Layout/ContentContainer/ContentContainer.spec.tsx
  apps/core/components/Layout/ContentContainer/ContentContainer.tsx
  apps/core/components/Layout/ContentContainer/index.ts
  apps/core/components/Layout/CoreSideNav/CoreSideNav.spec.tsx
  apps/core/components/Layout/CoreSideNav/CoreSideNav.tsx
  apps/core/components/Layout/CoreSideNav/index.ts
  apps/core/components/Layout/index.ts
Due: core

refactor(core): change `SideNav` for `CoreSideNav` HBL-157
  apps/core/pages/settings/index.tsx
Due: core

feat(core): added `GeneralPages` wave layout HBL-157 #time 15m
  apps/core/components/Layout/Waves/GeneralPages.spec.tsx
  apps/core/components/Layout/Waves/GeneralPages.tsx
  apps/core/components/Layout/Waves/index.ts
  apps/core/components/Layout/Waves/utils.ts
  apps/core/public/WavesGeneral1.svg
  apps/core/public/WavesGeneral2.svg
  apps/core/public/WavesGeneral3.svg
Due: core

feat(core): added `BaseLayout` component HBL-157 #time 10m
  apps/core/components/Layout/BaseLayout/BaseLayout.spec.tsx
  apps/core/components/Layout/BaseLayout/BaseLayout.tsx
  apps/core/components/Layout/BaseLayout/index.ts
  apps/core/components/Layout/CoreSideNav/CoreSideNav.tsx
  apps/core/components/Layout/CoreSideNav/index.ts
  apps/core/components/Layout/index.ts
  apps/core/pages/settings/index.tsx
Due: core

fix(core): fix cookie issue HBL-157 #time 1h 15m
  libs/data-access/api/src/lib/Base/Base.api.ts
  libs/data-access/api/src/lib/User/User.api.spec.ts
  libs/data-access/api/src/lib/User/User.api.ts
Due: data-access-api

feat(core): finished page structure HBL-157 #time 20m
  apps/core/components/Layout/BaseLayout/BaseLayout.tsx
  apps/core/pages/dashboard.tsx
  apps/core/pages/dashboard/index.tsx
  apps/core/pages/settings/index.tsx
  apps/core/project.json
  libs/data-access/api/src/lib/Base/Base.api.ts
  libs/data-access/contexts/src/lib/App/Context.tsx
Due: core, data-access-api, data-access-contexts

feat(ui): added `AddItemPlaceholder` component HBL-158
  libs/ui/components/src/lib/AddItemPlaceholder/AddItemPlaceholder.spec.tsx
  libs/ui/components/src/lib/AddItemPlaceholder/AddItemPlaceholder.tsx
  libs/ui/components/src/lib/AddItemPlaceholder/index.ts
Due: ui-components

feat(ui): added `DashboardvirtualGym` component HBL-158
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGym/DashboardVirtualGym.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGym/DashboardVirtualGym.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGym/index.ts
Due: ui-components

feat(ui): added `DashboardVirtualGyms` component HBL-158 #time 2h
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
  libs/ui/components/src/lib/AddItemPlaceholder/AddItemPlaceholder.spec.tsx
  libs/ui/components/src/lib/AddItemPlaceholder/AddItemPlaceholder.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/index.ts
  libs/ui/components/src/lib/Dashboard/index.ts
  libs/ui/components/src/lib/index.ts
Due: data-access-contexts, ui-components

Path conditions:
  api: any of: apps/api/src
  client: any of: apps/client
  client-e2e: any of: apps/client-e2e/src
  core: any of: apps/core
  core-e2e: any of: apps/core-e2e/src
  landing: any of: apps/landing
  landing-e2e: any of: apps/landing-e2e/src
  data-access-api: any of: libs/data-access/api
  data-access-contexts: any of: libs/data-access/contexts
  shared-models-body-validators: any of: libs/shared/models/body-validators
  shared-models-dto: any of: libs/shared/models/dto
  shared-models-helpers: any of: libs/shared/models/helpers
  shared-types: any of: libs/shared/types
  ui-components: any of: libs/ui/components
  utils: any of: libs/utils
