Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

feat(ui): added `CalendarEventDate` component HBL-210 #time 15m
  libs/ui/components/src/lib/DatePicker/DatePicker.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDate/CalendarEventDate.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDate/CalendarEventDate.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDate/index.ts
Due: ui-components

feat(ui): added `CalendarEventTemplate` component HBL-210 #time 30m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/CalendarEventTemplate.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/CalendarEventTemplate.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/index.ts
Due: ui-components

refactor(ui): component name typo HBL-210
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateCapacity/EventTemplateCapacity.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDescription/EventTemplateDescription.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateProperties/EventTemplateProperties.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateProperties/EventTemplateProperties.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateType/EventTemplateType.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneProperties/GymZoneProperties.tsx
Due: ui-components

feat(ui): added `CalendarEventProperties` component HBL-210 #time 10m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventProperties/CalendarEventProperties.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventProperties/CalendarEventProperties.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventProperties/index.ts
Due: ui-components

feat(ui): added `CalendarEventCapacity` component HBL-210 #time 5m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventCapacity/CalendarEventCapacity.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventCapacity/CalendarEventCapacity.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventCapacity/index.ts
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDate/CalendarEventDate.tsx
Due: ui-components

feat(ui): added `CalendarEventType` component HBL-210 #time 10m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventType/CalendarEventType.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventType/CalendarEventType.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventType/index.ts
Due: ui-components

feat(ui): start & end time components HBL-210 #time 15m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventEndTime/CalendarEventEndTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventEndTime/CalendarEventEndTime.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventEndTime/index.ts
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventStartTime/CalendarEventStartTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventStartTime/CalendarEventStartTime.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventStartTime/index.ts
Due: ui-components

fix(ui): minor issues & typos HBL-210
  libs/ui/components/src/lib/DatePicker/DatePicker.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDescription/CalendarEventDescription.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventName/CalendarEventName.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateType/EventTemplateType.spec.tsx
Due: ui-components

feat(ui): calendar event form type HBL-210
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

chore: run `nx migrate latest` HBL-210
  nx.json
  package-lock.json
  package.json
Due: none

fix(api): update `BaseService` & models HBL-211 #time 15m
  apps/api/src/app/services/Base/Base.service.spec.ts
  apps/api/src/app/services/Base/Base.service.ts
  libs/shared/models/entities/src/lib/Client.ts
  libs/shared/models/entities/src/lib/Owner.ts
  libs/shared/models/entities/src/lib/Trainer.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: api

feat(api): use data source instead of connection HBL-211
  apps/api/src/config/data-source.ts
  apps/api/src/config/database.ts
  apps/api/src/config/index.ts
Due: api

fix(api): remove accessor from services Instead, now a `Source` data type is used HBL-211 #time 35m
  apps/api/src/app/services/Base/Base.service.ts
  apps/api/src/app/services/Person/Client.service.spec.ts
  apps/api/src/app/services/Person/Client.service.ts
  apps/api/src/app/services/Person/Owner.service.spec.ts
  apps/api/src/app/services/Person/Owner.service.ts
  apps/api/src/app/services/Person/Person.service.spec.ts
  apps/api/src/app/services/Person/Person.service.ts
  apps/api/src/app/services/Person/Trainer.service.spec.ts
  apps/api/src/app/services/Person/Trainer.service.ts
  apps/api/src/app/services/Person/Worker.service.spec.ts
  apps/api/src/app/services/Person/Worker.service.ts
  apps/api/src/app/services/util/index.ts
Due: api

fix(shared): person entities not parsing `personId` HBL-211 #time 15m
  libs/shared/models/dto/jest.config.js
  libs/shared/models/dto/src/lib/Client/Client.spec.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
Due: shared-models-dto

test(api): fixed e2e tests with typeorm changes HBL-211 #time 1h 10m
  apps/api/src/app/controllers/Appointments/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/app/services/Base/Base.service.ts
  apps/api/src/config/data-source.ts
  apps/api/src/config/database.spec.ts
  apps/api/src/config/database.ts
  apps/api/src/config/index.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/entities/src/lib/Client.ts
  libs/shared/models/entities/src/lib/Owner.ts
  libs/shared/models/entities/src/lib/Trainer.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: api, shared-models-dto

chore: update dependencies HBL-211
  package-lock.json
  package.json
Due: none

fix(ui): start & end time register names HBL-210
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventEndTime/CalendarEventEndTime.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventStartTime/CalendarEventStartTime.tsx
Due: ui-components

fix(ui): minor fixes HBL-210
  libs/ui/components/src/lib/Calendar/Calendar.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/CalendarEventTemplate.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTrainer/CalendarEventTrainer.tsx
  libs/ui/components/src/lib/SelectInput/SelectInput.tsx
  package-lock.json
Due: ui-components

feat(api): added relation to models HBL-212
  libs/shared/models/entities/src/lib/Event.ts
  libs/shared/models/entities/src/lib/EventType.ts
Due: none

feat(shared): added event type in dto HBL-212 #time 15m
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
Due: shared-models-dto

feat(api): added event type to controllers HBL-212 #time 20m
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
Due: api

test(api): updated e2e tests HBL-212 #time 5m
  apps/api/src/test/Event/Event.spec.ts
  apps/api/src/test/e2e-setup.ts
Due: api

feat(ui): reset fields on selecting template
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/CalendarEventTemplate.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/CalendarEventTemplate.tsx
Due: ui-components

feat(ui): added `useCalendarEventDialog` hook HBL-210
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/useCalendarEventDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/useCalendarEventDialog.tsx
Due: ui-components

feat(ui): added `CalendarEventDialog` component HBL-210 #time 2h 15m
  libs/ui/components/src/lib/Calendar/index.ts
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

test(ui): improve coverage HBL-210 #time 25m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/CalendarEventTemplate.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/useCalendarEventDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

feat(api): removed color from `Event`
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  apps/api/src/test/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/entities/src/lib/Event.ts
Due: api, shared-models-dto

fix(ui): use type color from event HBL-210
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.tsx
Due: ui-components

feat(ui): added event difficulty in dialog HBL-210 #time 20m
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDifficulty/CalendarEventDifficulty.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDifficulty/CalendarEventDifficulty.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDifficulty/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

fix(ui): fix calendar tests HBL-210
  libs/ui/components/src/lib/Calendar/Calendar.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.spec.tsx
Due: ui-components

feat(ui): added `disabled` prop HBL-210 #time 20m
  libs/ui/components/src/lib/Calendar/Calendar.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.tsx
  libs/ui/components/src/lib/Calendar/CalendarSpot/CalendarSpot.tsx
Due: ui-components

feat(ui): added creation modal on gym zone page HBL-210 #time 2h 30m
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
Due: core

feat(ui): add event click listener HBL-213 #time 30m
  libs/ui/components/src/lib/Calendar/Calendar.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.tsx
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.spec.tsx
  libs/ui/components/src/lib/Calendar/CalendarEvent/CalendarEvent.tsx
Due: ui-components

feat(api): return template from calendar fetch HBL-214 #time 25m
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
  apps/api/src/app/controllers/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Event/Event.controller.ts
  libs/shared/models/dto/src/lib/Event/Event.spec.ts
  libs/shared/models/dto/src/lib/Event/Event.ts
  libs/shared/models/entities/src/lib/Event.ts
Due: api, shared-models-dto

feat(data-access): added `putter` HBL-213
  libs/data-access/api/src/lib/utils/putter.spec.ts
  libs/data-access/api/src/lib/utils/putter.ts
Due: data-access-api

feat(data-access): added `putter` to app context HBL-213 #time 10m
  libs/data-access/api/src/lib/utils/index.ts
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
  libs/utils/src/lib/functions.ts
Due: data-access-api, data-access-contexts, utils

feat(ui): improved calendar event form HBL-213 #time 1h
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventCapacity/CalendarEventCapacity.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDescription/CalendarEventDescription.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDifficulty/CalendarEventDifficulty.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDifficulty/CalendarEventDifficulty.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventName/CalendarEventName.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventProperties/CalendarEventProperties.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventProperties/CalendarEventProperties.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/CalendarEventTemplate.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventTemplate/CalendarEventTemplate.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventType/CalendarEventType.tsx
Due: ui-components

feat(core): update calendar events HBL-213 #time 1h 30m
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.tsx
Due: core, ui-components

Path conditions:
  api: any of: apps/api/src
  client: any of: apps/client
  client-e2e: any of: apps/client-e2e/src
  core: any of: apps/core
  core-e2e: any of: apps/core-e2e/src
  landing: any of: apps/landing
  landing-e2e: any of: apps/landing-e2e/src
  data-access-api: any of: libs/data-access/api
  data-access-contexts: any of: libs/data-access/contexts
  shared-models-body-validators: any of: libs/shared/models/body-validators
  shared-models-dto: any of: libs/shared/models/dto
  shared-models-helpers: any of: libs/shared/models/helpers
  shared-types: any of: libs/shared/types
  ui-components: any of: libs/ui/components
  utils: any of: libs/utils
