Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

feat(core): added worker permission viewer HBL-199 #time 45m
  apps/core/components/pages/workers/WorkerPermissionItem.spec.tsx
  apps/core/components/pages/workers/WorkerPermissionItem.tsx
  apps/core/components/pages/workers/WorkerPermissions.spec.tsx
  apps/core/components/pages/workers/WorkerPermissions.tsx
  apps/core/components/pages/workers/WorkerPermissionsViewer.spec.tsx
  apps/core/components/pages/workers/WorkerPermissionsViewer.tsx
  apps/core/components/pages/workers/index.ts
Due: core

feat(core): added animations and callbacks HBL-199 #time 25m
  apps/core/components/pages/workers/WorkerPermissionsViewer.spec.tsx
  apps/core/components/pages/workers/WorkerPermissionsViewer.tsx
Due: core

feat(core): added workers visualisation HBL-199 #time 30m
  apps/core/components/pages/workers/TableRow.spec.tsx
  apps/core/pages/workers/index.spec.tsx
  apps/core/pages/workers/index.tsx
  libs/ui/components/src/lib/index.ts
Due: core, ui-components

feat(ui): added worke perm. components for dialog HBL-200
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerPermissionChecks/WorkerPermissionChecks.spec.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerPermissionChecks/WorkerPermissionChecks.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerPermissionChecks/index.ts
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerPermissions/WorkerPermissions.spec.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerPermissions/WorkerPermissions.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerPermissions/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

feat(ui): added `WorkerDialog` component HBL-200 #time 45m
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerDialog.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

feat(core): add & update workers from workers page HBL-200 #time 30m
  apps/core/components/pages/workers/WorkerPermissionsViewer.tsx
  apps/core/pages/trainers/index.tsx
  apps/core/pages/workers/index.spec.tsx
  apps/core/pages/workers/index.tsx
Due: core

chore: dump versions
  package-lock.json
  package.json
Due: none

feat(data-access): added helpers in app context HBL-207 #time 45m
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
Due: data-access-contexts

feat(core): add permissions in dashboard
  apps/core/components/pages/dashboard/DashboardEventTemplates.spec.tsx
  apps/core/components/pages/dashboard/DashboardEventTemplates.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.spec.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.tsx
  apps/core/components/pages/dashboard/DashboardTrainers.spec.tsx
  apps/core/components/pages/dashboard/DashboardTrainers.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.spec.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.tsx
Due: core

fix(ui): hide buttons if no callback on dashboard HBL-207 #time 5m
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEventTemplates.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEventTemplates.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainers/DashboardTrainers.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainers/DashboardTrainers.tsx
Due: ui-components

feat(ui): hide buttons if no callback on events HBL-207
  libs/ui/components/src/lib/EventTemplateGrid/EventTemplateGrid.spec.tsx
  libs/ui/components/src/lib/EventTemplateGrid/EventTemplateGrid.tsx
  libs/ui/components/src/lib/EventTypeGrid/EventTypeGrid.spec.tsx
  libs/ui/components/src/lib/EventTypeGrid/EventTypeGrid.tsx
Due: ui-components

feat(core): limit permissions in events page HBL-207 #time 10m
  apps/core/pages/events/index.spec.tsx
  apps/core/pages/events/index.tsx
Due: core

feat(ui): hide btns if no callback on virtual gyms HBL-207
  libs/ui/components/src/lib/VirtualGymList/VirtualGymList.spec.tsx
  libs/ui/components/src/lib/VirtualGymList/VirtualGymList.tsx
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.spec.tsx
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.tsx
Due: ui-components

feat(core): limit permissions in virtual gyms page HBL-207 #time 25m
  apps/core/pages/virtual-gyms/index.spec.tsx
  apps/core/pages/virtual-gyms/index.tsx
Due: core

feat(ui): hide buttons if no callback on gym zone HBL-207
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.spec.tsx
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.tsx
Due: ui-components

feat(core): limit permissons in virtual gym page
  apps/core/pages/virtual-gyms/[virtualGymId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/index.tsx
Due: core

feat(ui): limit run of hook if no permissions HBL-207
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/useCalendarEventDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/useCalendarEventDialog.tsx
Due: ui-components

feat(core): limit permissions on gym zone page HBL-207 #time 30m
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
Due: core

feat(core): limit permissions in trainers page HBL-207 #time 5m
  apps/core/pages/trainers/index.spec.tsx
  apps/core/pages/trainers/index.tsx
Due: core

feat(core): limit permissions in workers page HBL-207 #time 35m
  apps/core/components/pages/dashboard/DashboardVirtualGyms.spec.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.tsx
  apps/core/components/pages/workers/WorkerPermissionsViewer.tsx
  apps/core/pages/trainers/index.spec.tsx
  apps/core/pages/workers/index.spec.tsx
  apps/core/pages/workers/index.tsx
Due: core

feat(core): limit permissions in clients page HBL-207 #time 5m
  apps/core/pages/clients/index.spec.tsx
  apps/core/pages/clients/index.tsx
Due: core

feat(ui): improved permissions limitations HBL-207
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerDialog.tsx
Due: ui-components

feat(core): improved permissions limitations HBL-207
  apps/core/pages/trainers/index.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
Due: core

test(core): fix changes coverage HBL-207 #time 30m
  apps/core/pages/clients/index.spec.tsx
  apps/core/pages/clients/index.tsx
  apps/core/pages/trainers/index.spec.tsx
  apps/core/pages/trainers/index.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.tsx
Due: core, ui-components

feat(client): virtual gyms page layout HBL-241 #time 10m
  apps/client/jest.setup.js
  apps/client/pages/virtual-gyms/index.spec.tsx
  apps/client/pages/virtual-gyms/index.tsx
Due: client

feat(client): display list of virtual gyms HBL-242 #time 15m
  apps/client/pages/virtual-gyms/index.spec.tsx
  apps/client/pages/virtual-gyms/index.tsx
Due: client

feat(client): virtual gym page layout HBL-243 #time 5m
  apps/client/pages/virtual-gyms/[virtualGymId]/index.spec.tsx
  apps/client/pages/virtual-gyms/[virtualGymId]/index.tsx
Due: client

feat(client): dispay gym zones HBL-244 #time 10m
  apps/client/pages/virtual-gyms/[virtualGymId]/index.spec.tsx
  apps/client/pages/virtual-gyms/[virtualGymId]/index.tsx
Due: client

refactor(ui): remove required prop HBL-247
  apps/client/pages/virtual-gyms/[virtualGymId]/index.tsx
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.tsx
Due: client, ui-components

fix(api): return calendar ids in gymzone HBL-247 #time 20m
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
Due: api

feat(shared): get date from same level HBL-247 #time 5m
  libs/shared/models/body-validators/src/lib/FetchAppointmentIntervals/FetchAppointmentIntervals.spec.ts
  libs/shared/models/body-validators/src/lib/FetchAppointmentIntervals/FetchAppointmentIntervals.ts
Due: shared-models-body-validators

feat(api): change body for params in calen. avbl. HBL-247 #time 20m
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
  libs/shared/models/dto/src/lib/CalendarDate/CalendarDate.ts
  libs/shared/models/entities/src/lib/GymZone.ts
Due: api, shared-models-dto

feat(ui): calendar appointment form components HBL-247
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentDate/CalendarAppointmentDate.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentDate/CalendarAppointmentDate.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentDate/index.ts
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentEndTime/CalendarAppointmentEndTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentEndTime/CalendarAppointmentEndTime.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentEndTime/index.ts
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentInterval/CalendarAppointmentInterval.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentInterval/CalendarAppointmentInterval.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentInterval/index.ts
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentStartTime/CalendarAppointmentStartTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentStartTime/CalendarAppointmentStartTime.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentStartTime/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.tsx
Due: ui-components

feat(ui): added calendar appointment dialog HBL-247 #time 2h 30m
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentDialog.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentEndTime/CalendarAppointmentEndTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentEndTime/CalendarAppointmentEndTime.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/index.ts
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

fix(api): not fetching availability for today HBL-247 #time 10m
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
Due: api

fix(ui): api call improvements on dialog HBL-247
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentDialog.tsx
Due: ui-components

feat(ui): added `ClandarAppointment` component HBL-247
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/CalendarAppointment/CalendarAppointment.spec.tsx
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/CalendarAppointment/CalendarAppointment.tsx
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/CalendarAppointment/index.ts
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

feat(client): create appointments from vg page HBL-247 #time 1h 45m
  apps/client/pages/virtual-gyms/[virtualGymId]/index.spec.tsx
  apps/client/pages/virtual-gyms/[virtualGymId]/index.tsx
Due: client

feat(ui): minor improvements HBL-247
  libs/shared/models/entities/src/lib/GymZone.ts
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/CalendarAppointment/CalendarAppointment.spec.tsx
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/CalendarAppointment/CalendarAppointment.tsx
Due: ui-components

refactor(api): run `nx format:write` HBL-247
  apps/api/src/app/controllers/Token/Token.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/test/Token/Token.spec.ts
Due: api

Path conditions:
  api: any of: apps/api/src
  client: any of: apps/client
  client-e2e: any of: apps/client-e2e/src
  core: any of: apps/core
  core-e2e: any of: apps/core-e2e/src
  landing: any of: apps/landing
  landing-e2e: any of: apps/landing-e2e/src
  data-access-api: any of: libs/data-access/api
  data-access-contexts: any of: libs/data-access/contexts
  shared-models-body-validators: any of: libs/shared/models/body-validators
  shared-models-dto: any of: libs/shared/models/dto
  shared-models-helpers: any of: libs/shared/models/helpers
  shared-types: any of: libs/shared/types
  ui-components: any of: libs/ui/components
  utils: any of: libs/utils
