Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

refactor(client): run `nx format:write` HBL-247
  apps/client/components/Layout/ClientSideNav/ClientSideNav.tsx
  apps/client/components/Layout/index.ts
  apps/client/jest.config.ts
  apps/client/pages/settings/index.spec.tsx
  apps/client/pages/virtual-gyms/[virtualGymId]/index.tsx
Due: client

refactor(core): run `nx format:write` HBL-247
  apps/core/components/pages/dashboard/DashboardGymZones.tsx
Due: core

feat(data-access): run `nx format:write` HBL-247
  libs/data-access/contexts/README.md
Due: data-access-contexts

refactor(ui): run `nx format:write` HBL-247
  libs/ui/components/README.md
  libs/ui/components/src/lib/Calendar/CalendarSpot/CalendarSpot.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainer/DashboardTrainer.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDate/CalendarEventDate.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventGymZone/CalendarEventGymZone.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventType/CalendarEventType.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateProperties/EventTemplateProperties.spec.tsx
  libs/ui/components/src/lib/Dialogs/Person/PersonPassword/PersonPassword.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerTags/TrainerTags.spec.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerPermissions/WorkerPermissions.spec.tsx
  libs/ui/components/src/lib/Dialogs/types.ts
  libs/ui/components/src/lib/DifficultyStack/DifficultyStack.spec.tsx
  libs/ui/components/src/lib/DifficultyStack/DifficultyStack.tsx
  libs/ui/components/src/lib/Icons/CovidPassportIcon/CovidPassportIcon.spec.tsx
  libs/ui/components/src/lib/Icons/MaskIcon/MaskIcon.spec.tsx
  libs/ui/components/src/lib/Icons/MaskIcon/MaskIcon.tsx
  libs/ui/components/src/lib/SelectInput/SelectInput.tsx
  libs/ui/components/src/lib/Table/HeaderCell/HeaderCell.tsx
  libs/ui/components/src/lib/Table/TableBodyRow/TableBodyRow.spec.tsx
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.spec.tsx
Due: ui-components

fix(client): fix dashboard issue HBL-260 #time 20m
  apps/client/pages/dashboard/index.spec.tsx
  apps/client/pages/dashboard/index.tsx
Due: client

test(client): fix failing tests HBL-260
  apps/client/pages/dashboard/index.spec.tsx
Due: client

feat(core): added gym zone page layout HBL-248 #time 15m
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
Due: client, core

fix(api): fix gym zone queries HBL-249 #time 30m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/routes/GymZone.routes.ts
  apps/api/src/app/routes/VirtualGym.routes.ts
Due: api

fix(api): change inner for left join HBL-249
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Calendar/Calendar.controller.ts
Due: api

feat(ui): disable calendar spot HBL-249
  libs/ui/components/src/lib/Calendar/Calendar.tsx
  libs/ui/components/src/lib/Calendar/CalendarDay/CalendarDay.tsx
Due: ui-components

feat(ui): added appointment confirmation dialog HBL-249 #time 15m
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/CalendarAppointment/CalendarAppointment.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventAppointmentDialog/EventAppointmentDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventAppointmentDialog/EventAppointmentDialog.tsx
  libs/ui/components/src/lib/Dialogs/EventAppointmentDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

fix(client): fix client css file HBL-249
  apps/client/styles/styles.css
Due: client

refactor(utils): refactor common fn and types HBL-249
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  libs/shared/types/src/lib/types.ts
  libs/utils/src/lib/functions.spec.ts
  libs/utils/src/lib/functions.ts
Due: core, shared-types, utils

feat(client): display calendar in gym zone page HBL-249 #time 1h
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
Due: client

test(api): fix failing testts HBL-249
  apps/api/src/app/controllers/Calendar/Calendar.controller.spec.ts
Due: api

refactor(ui): make confirmation dialog reusable HBL-250 #time 10m
  apps/client/pages/virtual-gyms/[virtualGymId]/index.tsx
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.ts
  libs/shared/models/dto/src/lib/EventAppointment/index.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/Appointment/Appointment.spec.tsx
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/Appointment/Appointment.tsx
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/Appointment/index.ts
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/CalendarAppointment/index.ts
Due: client, shared-models-dto, ui-components

feat(client): create event appointment HBL-250 #time 1h
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  libs/shared/types/src/lib/types.ts
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/Appointment/Appointment.tsx
  libs/ui/components/src/lib/Dialogs/EventAppointmentDialog/EventAppointmentDialog.tsx
Due: client, shared-types, ui-components

fix(dto): fix issues with index file HBL-250
  libs/shared/models/dto/src/lib/index.ts
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/Appointment/Appointment.tsx
Due: shared-models-dto, ui-components

fix(ui): fix `instaceof` breaking tests HBL-250 #time 30m
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.tsx
  libs/shared/models/dto/src/lib/EventAppointment/EventAppointment.ts
  libs/shared/models/dto/src/lib/EventAppointment/index.ts
  libs/ui/components/src/lib/Dialogs/ConfirmationDialog/Appointment/Appointment.tsx
Due: client, shared-models-dto, ui-components

fix(data-access): fix infite loading due to router
  libs/data-access/contexts/src/lib/App/App.context.tsx
Due: data-access-contexts

feat(chore): run `nx migrate latest`
  migrations.json
  package-lock.json
  package.json
Due: none

feat(chore): remove api docker container
  docker-compose.yaml
Due: none

docs: updated project docuentation
  README.md
  apps/api/README.md
  apps/client/README.md
  apps/core/README.md
  apps/landing/README.md
  apps/landing/project.json
Due: client, core, landing

fix: run `nx migrate --run-migrations migrations.json`
  apps/api/jest.config.ts
  apps/api/project.json
  apps/client-e2e/project.json
  apps/client/jest.config.ts
  apps/client/project.json
  apps/core-e2e/project.json
  apps/core/jest.config.ts
  apps/core/project.json
  apps/landing-e2e/project.json
  apps/landing/jest.config.ts
  apps/landing/project.json
  jest.config.ts
  jest.preset.js
  jest.preset.ts
  libs/data-access/api/jest.config.ts
  libs/data-access/api/project.json
  libs/data-access/contexts/jest.config.ts
  libs/data-access/contexts/project.json
  libs/shared/models/body-validators/jest.config.ts
  libs/shared/models/body-validators/project.json
  libs/shared/models/dto/jest.config.ts
  libs/shared/models/dto/project.json
  libs/shared/models/entities/project.json
  libs/shared/models/helpers/jest.config.ts
  libs/shared/models/helpers/project.json
  libs/shared/types/project.json
  libs/ui/components/jest.config.ts
  libs/ui/components/project.json
  libs/utils/jest.config.ts
  libs/utils/project.json
  migrations.json
  package-lock.json
Due: client, core, landing, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

fix(ui): fixed ui-components tests HBL-299
  libs/ui/components/jest.setup.js
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEventTemplates.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainers/DashboardTrainers.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarAppointmentDialog/CalendarAppointmentDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/CalendarEventDialog/CalendarEventDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/ClientDialog/ClientDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTemplateDialog/EventTemplateDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/WorkerDialog/WorkerDialog.spec.tsx
  libs/ui/components/src/lib/TimeInput/TimeInput.spec.tsx
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.spec.tsx
  package-lock.json
  package.json
Due: ui-components

test(client): fixed client tests
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
Due: client

test(core): fixed core tests & other improvements HBL-299
  apps/client/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.spec.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.spec.tsx
  apps/core/jest.setup.js
  apps/core/pages/events/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/gym-zones/[gymZoneId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/index.spec.tsx
  apps/core/pages/virtual-gyms/[virtualGymId]/index.tsx
  apps/core/pages/virtual-gyms/index.spec.tsx
  apps/core/pages/virtual-gyms/index.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDialog.spec.tsx
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.spec.tsx
  package-lock.json
  package.json
Due: client, core, ui-components

fix: fixed issues found while testing ui HBL-300 #time 1h
  apps/api/src/app/controllers/Appointments/Event/Event.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Event/Event.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/core/pages/virtual-gyms/[virtualGymId]/index.tsx
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/helpers/src/lib/index.ts
  libs/ui/components/src/lib/AddItemPlaceholder/AddItemPlaceholder.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/DashboardGymZone.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGym/DashboardVirtualGym.tsx
  libs/ui/components/src/lib/EventTemplateGrid/EventTemplateGrid.tsx
  libs/ui/components/src/lib/EventTypeGrid/EventTypeGrid.tsx
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.tsx
  libs/ui/components/src/lib/Settings/index.ts
Due: api, core, shared-models-dto, shared-models-helpers, ui-components

test(api): fix failing tests HBL-300 #time 5m
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
Due: api

Path conditions:
  api: any of: apps/api/src
  client: any of: apps/client
  client-e2e: any of: apps/client-e2e/src
  core: any of: apps/core
  core-e2e: any of: apps/core-e2e/src
  landing: any of: apps/landing
  landing-e2e: any of: apps/landing-e2e/src
  data-access-api: any of: libs/data-access/api
  data-access-contexts: any of: libs/data-access/contexts
  shared-models-body-validators: any of: libs/shared/models/body-validators
  shared-models-dto: any of: libs/shared/models/dto
  shared-models-helpers: any of: libs/shared/models/helpers
  shared-types: any of: libs/shared/types
  ui-components: any of: libs/ui/components
  utils: any of: libs/utils
