Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 90%
      libs:
        target: 100%
        flags:
          - shared-models
          - shared-types

comment:
  layout: 'diff, flags, files'
  require_changes: true

flags:
  # Apps
  api:
    paths:
      - apps/api/src
    carryforward: true
  client:
    paths:
      - apps/client
    carryforward: true
  client-e2e:
    paths:
      - apps/client-e2e/src
    carryforward: true
  core:
    paths:
      - apps/core
    carryforward: true
  core-e2e:
    paths:
      - apps/core-e2e/src
    carryforward: true
  landing:
    paths:
      - apps/landing
    carryforward: true
  landing-e2e:
    paths:
      - apps/landing-e2e/src
    carryforward: true
  # Libs
  data-access-api:
    paths:
      - libs/data-access/api
    carryforward: true
  data-access-contexts:
    paths:
      - libs/data-access/contexts
    carryforward: true
  shared-models-body-validators:
    paths:
      - libs/shared/models/body-validators
    carryforward: true
  shared-models-dto:
    paths:
      - libs/shared/models/dto
    carryforward: true
  shared-models-helpers:
    paths:
      - libs/shared/models/helpers
    carryforward: true
  shared-types:
    paths:
      - libs/shared/types
    carryforward: true
  ui-components:
    paths:
      - libs/ui/components
    carryforward: true
  utils:
    paths:
      - libs/utils
    carryforward: true

feat(core): use `level` with fetch HBL-174
  apps/core/components/pages/dashboard/DashboardGymZones.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.tsx
Due: core, ui-components

refactor(ui): abstract components HBL-174
  libs/ui/components/src/lib/Anchor/Anchor.spec.tsx
  libs/ui/components/src/lib/Anchor/Anchor.tsx
  libs/ui/components/src/lib/Anchor/index.ts
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/DashboardGymZone.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/DashboardGymZone.tsx
  libs/ui/components/src/lib/GymZoneListItem/GymZoneListItem.spec.tsx
  libs/ui/components/src/lib/GymZoneListItem/GymZoneListItem.tsx
  libs/ui/components/src/lib/GymZoneListItem/index.ts
Due: ui-components

test(ui): fix coverage HBL-174
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEventTemplate.spec.tsx
  libs/ui/components/src/lib/GymZoneListItem/GymZoneListItem.spec.tsx
Due: ui-components

feat(ui): added `VirtualGymListItem` component HBL-174
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.spec.tsx
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.tsx
  libs/ui/components/src/lib/VirtualGymListItem/index.ts
Due: ui-components

feat(ui): added `VirtualGymList` component HBL-174 #time 3h
  libs/ui/components/src/lib/VirtualGymList/VirtualGymList.spec.tsx
  libs/ui/components/src/lib/VirtualGymList/VirtualGymList.tsx
  libs/ui/components/src/lib/VirtualGymList/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

fix(ui): defaultValues not working HBL-174 #time 1h
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneVirtualGym/GymZoneVirtualGym.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneVirtualGym/GymZoneVirtualGym.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDialog.tsx
  libs/ui/components/src/lib/SelectInput/SelectInput.tsx
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.tsx
Due: ui-components

feat(core): `VirtualGyms` page HBL-174 #time 2h 30m
  apps/core/components/Layout/BaseLayout/BaseLayout.tsx
  apps/core/components/Layout/CoreSideNav/CoreSideNav.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.spec.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.tsx
  apps/core/pages/settings/index.spec.tsx
  apps/core/pages/virtual-gyms/index.spec.tsx
  apps/core/pages/virtual-gyms/index.tsx
  libs/data-access/contexts/src/lib/Loading/Loading.context.tsx
Due: core, data-access-contexts

feat(core): virtual gym page structure HBL-178
  apps/core/pages/virtual-gyms/[id]/index.tsx
Due: core

feat(api): fetch single virtual gym Still have to implement the e2e test for the new ws. HBL-179 #time 25m
  apps/api/src/app/controllers/Gym/Gym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/VirtualGym/index.ts
  apps/api/src/app/routes/VirtualGym.routes.spec.ts
  apps/api/src/app/routes/VirtualGym.routes.ts
Due: api

test(api): added e2e tests HBL-179 #time 15m
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/routes/VirtualGym.routes.ts
  apps/api/src/test/VirtualGym/VirtualGym.spec.ts
  apps/api/src/test/index.spec.ts
  apps/core/pages/virtual-gyms/[id]/index.tsx
Due: api, core

feat(ui): added `CarouselItem` component HBL-179
  libs/ui/components/src/lib/CarouselItem/CarouselItem.spec.tsx
  libs/ui/components/src/lib/CarouselItem/CarouselItem.tsx
  libs/ui/components/src/lib/CarouselItem/index.ts
Due: ui-components

refactor(ui): use `CarouselItem` HBL-179
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.tsx
Due: ui-components

feat(ui): custom breakpoints in side nav HBL-179 #time 10m
  libs/ui/components/src/lib/SideNav/SideNav.spec.tsx
  libs/ui/components/src/lib/SideNav/SideNav.tsx
  libs/ui/components/src/lib/SideNavGroup/SideNavGroup.spec.tsx
  libs/ui/components/src/lib/SideNavGroup/SideNavGroup.tsx
  libs/ui/components/src/lib/SideNavLink/SideNavLink.tsx
Due: ui-components

feat(ui): added nav wrappers HBL-179
  libs/ui/components/src/lib/Layout/HeaderNavWrapper/HeaderNavWrapper.spec.tsx
  libs/ui/components/src/lib/Layout/HeaderNavWrapper/HeaderNavWrapper.tsx
  libs/ui/components/src/lib/Layout/HeaderNavWrapper/index.ts
  libs/ui/components/src/lib/Layout/SideNavWrapper/SideNavWrapper.spec.tsx
  libs/ui/components/src/lib/Layout/SideNavWrapper/SideNavWrapper.tsx
  libs/ui/components/src/lib/Layout/SideNavWrapper/index.ts
  libs/ui/components/src/lib/Layout/index.ts
  libs/ui/components/src/lib/SideNav/SideNav.tsx
  libs/ui/components/src/lib/index.ts
Due: ui-components

feat(core): improved responsive HBL-179 #time 2h
  apps/core/components/Layout/BaseLayout/BaseLayout.spec.tsx
  apps/core/components/Layout/BaseLayout/BaseLayout.tsx
  apps/core/components/Layout/ContentContainer/ContentContainer.tsx
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
Due: core, data-access-contexts

feat(core): improve dashboard responsiveness HBL-179 #time 30m
  apps/core/components/Layout/BaseLayout/BaseLayout.tsx
  apps/core/components/Layout/ContentContainer/ContentContainer.tsx
  apps/core/pages/dashboard/index.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.tsx
  libs/ui/components/src/lib/Layout/SideNavWrapper/SideNavWrapper.tsx
Due: core, ui-components

feat(core): improved settings responsiveness HBL-179
  apps/core/components/pages/settings/SettingsGymInfo/SettingsGymInfo.tsx
  apps/core/pages/dashboard/index.tsx
Due: core

fix(ui): react keys & improved coverage HBL-179
  libs/ui/components/src/lib/Layout/SideNavWrapper/SideNavWrapper.spec.tsx
  libs/ui/components/src/lib/SideNav/SideNav.tsx
  libs/ui/components/src/lib/VirtualGymListItem/VirtualGymListItem.tsx
Due: ui-components

feat(ui): add `GymZoneGrid` component HBL-179 1h
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.spec.tsx
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.tsx
  libs/ui/components/src/lib/GymZoneGrid/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

test(data-access): coverage improvements HBL-179
  libs/data-access/contexts/src/lib/Loading/Loading.context.tsx
  libs/data-access/contexts/src/lib/Theme/Theme.context.spec.tsx
Due: data-access-contexts

feat(core): added virtual gym page HBL-179 #time 2h 30m
  apps/core/pages/virtual-gyms/[id]/index.spec.tsx
  apps/core/pages/virtual-gyms/[id]/index.tsx
Due: core

test(core): improve coverage HBL-179 #time 5m
  apps/core/components/Layout/BaseLayout/BaseLayout.spec.tsx
Due: core

chore: run `nx migrate latest` HBL-180
  package-lock.json
  package.json
Due: none

refactor(ui): added `CarouselGrid` component HBL-187 #time 30m
  libs/ui/components/src/lib/CarouselGrid/CarouselGrid.spec.tsx
  libs/ui/components/src/lib/CarouselGrid/CarouselGrid.tsx
  libs/ui/components/src/lib/CarouselGrid/index.ts
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.spec.tsx
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.tsx
Due: ui-components

feat(core): setup page HBL-187 #time 10m
  apps/core/components/Layout/CoreSideNav/CoreSideNav.tsx
  apps/core/pages/events/index.spec.tsx
  apps/core/pages/events/index.tsx
Due: core

feat(ui): added `ColorCicle` component HBL-165
  libs/ui/components/src/lib/ColorCircle/ColorCircle.spec.tsx
  libs/ui/components/src/lib/ColorCircle/ColorCircle.tsx
  libs/ui/components/src/lib/ColorCircle/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

feat(ui): added `EllipsedTypography` component HBL-188
  libs/ui/components/src/lib/ColorCircle/ColorCircle.tsx
  libs/ui/components/src/lib/EllipsedTypography/EllipsedTypography.spec.tsx
  libs/ui/components/src/lib/EllipsedTypography/EllipsedTypography.tsx
  libs/ui/components/src/lib/EllipsedTypography/index.ts
Due: ui-components

feat(ui): added `EventTypeListItem` component HBL-188
  libs/ui/components/src/lib/CarouselGrid/CarouselGrid.tsx
  libs/ui/components/src/lib/EventTypeListItem/EventTypeListItem.spec.tsx
  libs/ui/components/src/lib/EventTypeListItem/EventTypeListItem.tsx
  libs/ui/components/src/lib/EventTypeListItem/index.ts
Due: ui-components

feat(ui): added `EventTypeGrid` component HBL-188 #time 1h
  libs/ui/components/src/lib/EventTypeGrid/EventTypeGrid.spec.tsx
  libs/ui/components/src/lib/EventTypeGrid/EventTypeGrid.tsx
  libs/ui/components/src/lib/EventTypeGrid/index.ts
  libs/ui/components/src/lib/index.ts
Due: ui-components

fix(ui): side nav color HBL-188
  apps/core/styles/styles.css
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
Due: core, data-access-contexts

feat(ui): responsiveness improvements HBL-188 #time 15m
  libs/ui/components/src/lib/CarouselGrid/CarouselGrid.tsx
Due: ui-components

feat(core): event type list in events page HBL-188 #time 30m
  apps/core/pages/events/index.spec.tsx
  apps/core/pages/events/index.tsx
Due: core

feat(ui): `ColorPicker` form component HBL-191 #time 30m
  apps/core/components/pages/settings/SettingsGymInfo/SettingsGymInfo.tsx
  libs/ui/components/src/lib/ColorCircle/ColorCircle.tsx
  libs/ui/components/src/lib/ColorCircle/index.ts
  libs/ui/components/src/lib/ColorPicker/ColorPicker.spec.tsx
  libs/ui/components/src/lib/ColorPicker/ColorPicker.tsx
  libs/ui/components/src/lib/ColorPicker/index.ts
  libs/ui/components/src/lib/index.ts
Due: core, ui-components

feat(ui): added event type dialog fields HBL-191 #time 15m
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeColor/EventTypeColor.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeColor/EventTypeColor.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeColor/index.ts
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeDescription/EventTypeDescription.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeDescription/EventTypeDescription.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeDescription/index.ts
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeName/EventTypeName.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeName/EventTypeName.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeName/index.ts
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.tsx
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

refactor(ui): improved responsiveness HBL-191
  libs/ui/components/src/lib/ColorPicker/ColorPicker.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeColor/EventTypeColor.tsx
Due: ui-components

feat(ui): added `EventTypeDialog` component HBL-191 #time 40m
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeDialog.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

feat(data-access): app context improvements HBL-191 #time 30m
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/App.context.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/Loading/Loading.context.tsx
Due: data-access-contexts

feat(core): added event type dialog HBL-191 #time 30m
  apps/core/pages/_app.tsx
  apps/core/pages/events/index.spec.tsx
  apps/core/pages/events/index.tsx
  libs/ui/components/src/lib/Dialogs/EventTypeDialog/EventTypeDialog.tsx
Due: core, ui-components

refactor(core): run `nx format:write` HBL-191
  apps/core/components/Layout/BaseLayout/BaseLayout.tsx
  apps/core/components/Layout/BaseLayout/index.ts
  apps/core/components/pages/dashboard/DashboardGymZones.spec.tsx
  apps/core/components/pages/dashboard/DashboardTrainers.spec.tsx
  apps/core/components/pages/dashboard/DashboardTrainers.tsx
  apps/core/jest.setup.js
  apps/core/pages/virtual-gyms/index.spec.tsx
Due: core

feat(ui): run `nx format:write` HBL-191
  libs/ui/components/src/lib/Anchor/Anchor.spec.tsx
  libs/ui/components/src/lib/Anchor/Anchor.tsx
  libs/ui/components/src/lib/CarouselItem/CarouselItem.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.tsx
  libs/ui/components/src/lib/GymZoneGrid/GymZoneGrid.spec.tsx
  libs/ui/components/src/lib/Layout/SideNavWrapper/SideNavWrapper.spec.tsx
Due: ui-components
