Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, shared-models, shared-types

codecov.yaml:

flags:
  # Apps
  api:
    paths:
      - apps/api/src
  client:
    paths: 
      - apps/client/src    
  client-e2e:
    paths: 
      - apps/client-e2e/src
  core:
    paths: 
      - apps/core/src
  core-e2e:
    paths: 
      - apps/core-e2e/src
  landing:
    paths: 
      - apps/landing/src
  landing-e2e:
    paths: 
      - apps/landing-e2e/src
  # Libs
  shared-models:
    paths:
      - libs/shared/models
  shared-types:
    paths:
      - libs/shared/types

chore(ci): added flags to codecov update
  .github/workflows/ci.yml
  package-lock.json
Due: none

chore(ci): update ci to run on affected tests
  .github/workflows/ci.yml
Due: none

feat(api): added register controllers Worker, Trainer and Client controllers.
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Client.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Trainer.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/Worker.spec.ts
  apps/api/src/app/controllers/Person/index.ts
  apps/api/src/app/controllers/helpers/register.spec.ts
  apps/api/src/app/controllers/helpers/register.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/Persons.routes.ts
  apps/api/src/app/services/Person/Client.service.ts
  apps/api/src/app/services/Person/Client.spec.ts
  apps/api/src/app/services/Person/Trainer.service.ts
  apps/api/src/app/services/Person/Trainer.spec.ts
  apps/api/src/app/services/Person/index.ts
  apps/api/src/app/services/index.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/index.ts
Due: api, shared-models

fix(api): fixed entities issues
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/entities/src/lib/Trainer.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: shared-models

feat(api): added person service
  apps/api/src/app/services/Person/Person.service.ts
  apps/api/src/app/services/Person/Person.spec.ts
  apps/api/src/app/services/Person/index.ts
  apps/api/src/app/services/index.ts
Due: api

fix(api): register responses were returing owner Register controller were returing owner as the key with the object in the response. The tests have been updated.
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Client.spec.ts
  apps/api/src/app/controllers/Person/Owner.controller.ts
  apps/api/src/app/controllers/Person/Owner.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Trainer.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/Worker.spec.ts
  apps/api/src/app/controllers/Person/index.ts
  apps/api/src/app/controllers/helpers/register.spec.ts
  apps/api/src/app/controllers/helpers/register.ts
Due: api

fix(api): minor fixs
  apps/api/src/app/controllers/helpers/register.spec.ts
  apps/api/src/app/controllers/helpers/register.ts
Due: api

test(api): fix JWT_TOKEN not working in tests
  .github/workflows/ci.yml
  apps/api/src/app/controllers/helpers/register.spec.ts
  apps/api/src/app/controllers/helpers/register.ts
Due: api

test(api): added register return value validation
  apps/api/src/app/controllers/helpers/register.spec.ts
Due: api

fix(api): added missing `types` file
  apps/api/src/app/controllers/helpers/types.ts
Due: api

feat(api): added login controllers Added login controller for the `Client`, `Owner` and `Worker` entities. Other minor improvements also made.
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Client.spec.ts
  apps/api/src/app/controllers/Person/Owner.controller.ts
  apps/api/src/app/controllers/Person/Owner.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/Worker.spec.ts
  apps/api/src/app/controllers/Person/index.ts
  apps/api/src/app/controllers/helpers/index.ts
  apps/api/src/app/controllers/helpers/login.spec.ts
  apps/api/src/app/controllers/helpers/login.ts
  apps/api/src/app/controllers/helpers/register.spec.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/services/Base/Base.service.ts
  apps/api/src/app/services/Base/Base.spec.ts
  libs/shared/models/entities/src/lib/Client.ts
Due: api, shared-models

refactor(api): removed unused imports
  apps/api/src/app/services/Person/index.ts
  apps/api/src/app/services/index.ts
Due: api

feat(api): improved controller exports
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Client.spec.ts
  apps/api/src/app/controllers/Person/Owner.controller.ts
  apps/api/src/app/controllers/Person/Owner.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Trainer.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/Worker.spec.ts
  apps/api/src/app/routes/Persons.routes.ts
Due: api

refactor(api): renamed tests for consistency
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Owner.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/services/Person/Client.service.spec.ts
  apps/api/src/app/services/Person/Owner.service.spec.ts
  apps/api/src/app/services/Person/Person.service.spec.ts
  apps/api/src/app/services/Person/Trainer.service.spec.ts
  apps/api/src/app/services/Person/Worker.service.spec.ts
Due: api

fix(shared): `WorkerDTO` missing managerId validation
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
Due: shared-models

refactor(shared): changed dto variants naming
  apps/api/src/app/controllers/helpers/login.spec.ts
  apps/api/src/app/controllers/helpers/login.ts
  apps/api/src/app/controllers/helpers/register.ts
  apps/api/src/app/controllers/helpers/types.ts
  libs/shared/models/dto/src/lib/Client/Client.spec.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Person/Person.ts
  libs/shared/models/dto/src/lib/Person/index.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/index.ts
Due: api, shared-models

refacator(shared): added shared dto groups
  libs/shared/models/dto/src/lib/Person/Person.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/dto/src/lib/util/index.ts
  libs/shared/models/dto/src/lib/util/types.ts
Due: shared-models

feat(api): added jwt token expiry time
  apps/api/src/app/controllers/helpers/register.spec.ts
  apps/api/src/app/controllers/helpers/register.ts
Due: api

feat(api): added auth middleware
  apps/api/src/app/middlewares/auth.middleware.ts
  apps/api/src/app/middlewares/auth.middlware.spec.ts
  apps/api/src/app/middlewares/index.ts
Due: api

feat(shared): added missing props from validation Some DTOs were missing props from validation. DTO groups have been improved. Other minor issues fixed.
  libs/shared/models/dto/src/lib/Client/Client.spec.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Person/Person.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/util/types.ts
  libs/shared/types/src/lib/enums.ts
Due: shared-models, shared-types

refactor(shared): added common DTO interface
  libs/shared/models/dto/src/lib/Base/Base.ts
  libs/shared/models/dto/src/lib/Base/index.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
Due: shared-models

fix(shared): fixed missing dto props
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/index.ts
Due: shared-models

test(shared): fix failing tests in shared
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
Due: shared-models

refactor(api): renamed tests files
  apps/api/src/app/controllers/Base/Base.controller.spec.ts
  apps/api/src/app/services/Base/Base.service.spec.ts
Due: api

refactor(api): changed register args to object
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Owner.controller.spec.ts
  apps/api/src/app/controllers/Person/Owner.controller.ts
  apps/api/src/app/controllers/Person/Trainer.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/helpers/register.spec.ts
  apps/api/src/app/controllers/helpers/register.ts
Due: api

refactor(api): changed login args to object
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Owner.controller.spec.ts
  apps/api/src/app/controllers/Person/Owner.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/helpers/login.spec.ts
  apps/api/src/app/controllers/helpers/login.ts
Due: api

fix(api): added missing prop in `trainerUpdate`
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
Due: api

feat(shared): ensure person dto's return the gym Added the `GymDTO` class. Refactored tests with common code.
  libs/shared/models/dto/src/lib/Client/Client.spec.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/Gym/Gym.spec.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/util/creators.spec.ts
  libs/shared/models/dto/src/lib/util/creators.ts
  libs/shared/models/dto/src/lib/util/index.ts
  libs/shared/models/entities/src/lib/Gym.ts
Due: shared-models

docs(shared): improved model docs
  apps/api/src/app/routes/index.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/dto/src/lib/util/creators.ts
  libs/shared/models/dto/src/lib/util/validation-parser.ts
Due: api, shared-models

test(shared): added missing uncovered test brances
  libs/shared/models/dto/src/lib/Gym/Gym.spec.ts
Due: shared-models

test(shared): refactor common checkers
  libs/shared/models/dto/src/lib/Gym/Gym.spec.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
Due: shared-models

feat(shared): added `VirtualGymDTO`
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.spec.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.ts
  libs/shared/models/dto/src/lib/util/types.ts
  libs/shared/models/entities/src/lib/VirtualGym.ts
Due: shared-models

refactor(api): specify controller return type
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Owner.controller.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
Due: api

refactor(api): mv person specific helpers
  apps/api/src/app/controllers/Person/Client.controller.spec.ts
  apps/api/src/app/controllers/Person/Client.controller.ts
  apps/api/src/app/controllers/Person/Owner.controller.spec.ts
  apps/api/src/app/controllers/Person/Owner.controller.ts
  apps/api/src/app/controllers/Person/Trainer.controller.spec.ts
  apps/api/src/app/controllers/Person/Trainer.controller.ts
  apps/api/src/app/controllers/Person/Worker.controller.spec.ts
  apps/api/src/app/controllers/Person/Worker.controller.ts
  apps/api/src/app/controllers/Person/helpers/index.ts
  apps/api/src/app/controllers/Person/helpers/login.spec.ts
  apps/api/src/app/controllers/Person/helpers/login.ts
  apps/api/src/app/controllers/Person/helpers/register.spec.ts
  apps/api/src/app/controllers/Person/helpers/register.ts
  apps/api/src/app/controllers/helpers/index.ts
Due: api

refactor(shared): typo in `VirtualGymDTO` prop
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.ts
  libs/shared/models/dto/src/lib/VirtualGym/index.ts
  libs/shared/models/dto/src/lib/index.ts
Due: shared-models

feat(api): added VirtualGym service The prop `softDelete` has been added to the `BaseServicThe prop `softDelete` has been added to the `BaseService`
  apps/api/src/app/services/Base/Base.service.spec.ts
  apps/api/src/app/services/Base/Base.service.ts
  apps/api/src/app/services/Person/index.ts
  apps/api/src/app/services/VirtualGym/VirtualGym.service.spec.ts
  apps/api/src/app/services/VirtualGym/VirtualGym.service.ts
  apps/api/src/app/services/VirtualGym/index.ts
  apps/api/src/app/services/index.ts
Due: api

feat(api): added `VirtualGym` controller Added controllers to create, update, fetch and delete the VirtualGym. HBL-18 HBL-19 HBL-20 HBL-21 #close
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/VirtualGym/index.ts
  apps/api/src/app/controllers/helpers/create.spec.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/delete.spec.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/controllers/helpers/index.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/middlewares/auth.middleware.ts
  apps/api/src/app/routes/VirtualGym.routes.ts
  apps/api/src/app/routes/index.ts
Due: api

feat(api): added `GymZoneDTO` HBL-42
  libs/shared/models/dto/src/lib/GymZone/GymZone.spec.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.ts
  libs/shared/models/dto/src/lib/GymZone/index.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/entities/src/lib/GymZone.ts
Due: shared-models

chore(ci): added pr codecov comment HBL-43
  codecov.yaml
Due: none

chore(ci): improved ci-pr job
  .github/workflows/ci.yml
Due: none
