Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 90%
      libs:
        target: 100%
        flags:
          - shared-models
          - shared-types

comment:
  layout: 'diff, flags, files'
  require_changes: true

flags:
  # Apps
  api:
    paths:
      - apps/api/src
    carryforward: true
  client:
    paths:
      - apps/client
    carryforward: true
  client-e2e:
    paths:
      - apps/client-e2e/src
    carryforward: true
  core:
    paths:
      - apps/core
    carryforward: true
  core-e2e:
    paths:
      - apps/core-e2e/src
    carryforward: true
  landing:
    paths:
      - apps/landing
    carryforward: true
  landing-e2e:
    paths:
      - apps/landing-e2e/src
    carryforward: true
  # Libs
  data-access-api:
    paths:
      - libs/data-access/api
    carryforward: true
  data-access-contexts:
    paths:
      - libs/data-access/contexts
    carryforward: true
  shared-models-body-validators:
    paths:
      - libs/shared/models/body-validators
    carryforward: true
  shared-models-dto:
    paths:
      - libs/shared/models/dto
    carryforward: true
  shared-models-helpers:
    paths:
      - libs/shared/models/helpers
    carryforward: true
  shared-types:
    paths:
      - libs/shared/types
    carryforward: true
  ui-components:
    paths:
      - libs/ui/components
    carryforward: true
  utils:
    paths:
      - libs/utils
    carryforward: true

feat(ui): wrap `DashboardVirtualGym` with `next/link` HBL-158 #time 1h
  apps/core/styles/styles.css
  libs/ui/components/src/lib/AddItemPlaceholder/AddItemPlaceholder.spec.tsx
  libs/ui/components/src/lib/AddItemPlaceholder/AddItemPlaceholder.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGym/DashboardVirtualGym.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGym/DashboardVirtualGym.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.tsx
  package-lock.json
  tools/generators/component/files/__fileName__.tsx__tmpl__
Due: core, ui-components

fix(ui): `AddItemPlaceholder` height fix HBL-158
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.tsx
Due: ui-components

feat(core): `swr` return type HBL-158 #time 20m
  apps/core/pages/dashboard/index.tsx
  libs/data-access/api/src/lib/fetcher/index.ts
  libs/data-access/api/src/lib/fetcher/swr.responses.ts
  libs/data-access/contexts/src/lib/App/types.ts
Due: core, data-access-api, data-access-contexts

feat(ui): added `DialogHeader` component HBL-158
  libs/ui/components/src/lib/Dialogs/DialogHeader/DialogHeader.spec.tsx
  libs/ui/components/src/lib/Dialogs/DialogHeader/DialogHeader.tsx
  libs/ui/components/src/lib/Dialogs/DialogHeader/index.ts
Due: ui-components

feat(ui): added `BaseModal` component HBL-158
  libs/ui/components/src/lib/Dialogs/Base/Base.spec.tsx
  libs/ui/components/src/lib/Dialogs/Base/Base.tsx
  libs/ui/components/src/lib/Dialogs/Base/index.ts
  libs/ui/components/src/lib/Dialogs/DialogHeader/DialogHeader.tsx
Due: ui-components

feat(ui): added `TimeInput` component HBL-158
  libs/ui/components/src/lib/TimeInput/TimeInput.spec.tsx
  libs/ui/components/src/lib/TimeInput/TimeInput.tsx
  libs/ui/components/src/lib/TimeInput/index.ts
Due: ui-components

feat(ui): added `VirtualGymDialog` fields HBL-158 #time 2h 30m
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCapacity/VirtualGymCapacity.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCapacity/VirtualGymCapacity.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCapacity/index.ts
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCloseTime/VirtualGymCloseTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCloseTime/VirtualGymCloseTime.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCloseTime/index.ts
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDescription/VirtualGymDescription.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDescription/VirtualGymDescription.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDescription/index.ts
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymLocation/VirtualGymLocation.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymLocation/VirtualGymLocation.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymLocation/index.ts
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymName/VirtualGymName.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymName/VirtualGymName.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymName/index.ts
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymOpenTime/VirtualGymOpenTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymOpenTime/VirtualGymOpenTime.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymOpenTime/index.ts
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymPhone/VirtualGymPhone.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymPhone/VirtualGymPhone.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymPhone/index.ts
Due: ui-components

feat(ui): added `DialogSection` component HBL-158
  libs/ui/components/src/lib/Dialogs/DialogSection/DialogSection.spec.tsx
  libs/ui/components/src/lib/Dialogs/DialogSection/DialogSection.tsx
  libs/ui/components/src/lib/Dialogs/DialogSection/index.ts
Due: ui-components

chore: `react-mask-input` dependency HBL-158
  package-lock.json
  package.json
Due: none

feat(data-access): dialogs shadows HBL-158
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
Due: data-access-contexts

test(core): fix non-passing tests HBL-157 #time 10m
  apps/core/components/Layout/BaseLayout/BaseLayout.spec.tsx
  apps/core/components/Layout/CoreSideNav/CoreSideNav.spec.tsx
  apps/core/pages/settings/index.spec.tsx
Due: core

feat(utils): function to normalize 24h time HBL-158
  libs/utils/src/lib/functions.spec.ts
  libs/utils/src/lib/functions.ts
Due: utils

feat(ui): added `TimeInput` component HBL-158
  apps/api/src/app/constants/query.types.ts
  libs/ui/components/src/lib/Input/Input.tsx
  libs/ui/components/src/lib/Input/index.ts
  libs/ui/components/src/lib/TimeInput/TimeInput.spec.tsx
  libs/ui/components/src/lib/TimeInput/TimeInput.tsx
  package-lock.json
  package.json
  tools/generators/component/index.ts
Due: api, ui-components

feat(utils): added `isTimeBefore` function HBL-158
  libs/utils/src/lib/functions.spec.ts
  libs/utils/src/lib/functions.ts
Due: utils

feat(shared): added phone prop to VirtualGym HBL-158
  apps/api/src/test/VirtualGym/VirtualGym.spec.ts
  apps/api/src/test/e2e-setup.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.spec.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.ts
  libs/shared/models/entities/src/lib/VirtualGym.ts
Due: api, shared-models-dto

fix(api): cookies issue HBL-158
  apps/api/src/app/controllers/Person/helpers/login.spec.ts
  apps/api/src/app/controllers/Person/helpers/login.ts
  apps/api/src/app/controllers/Person/helpers/register.spec.ts
  apps/api/src/app/controllers/Person/helpers/register.ts
Due: api

test(ui): added event tests HBL-158
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.tsx
Due: ui-components

feat(ui): create `VirtualGym` dialog HBL-158 #time 5h
  apps/core/jest.setup.js
  libs/ui/components/src/lib/Dialogs/Base/Base.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCloseTime/VirtualGymCloseTime.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDialog.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymOpenTime/VirtualGymOpenTime.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
  libs/ui/components/src/lib/index.ts
Due: core, ui-components

feat(data-access): added `poster` function HBL-158
  apps/core/pages/dashboard/index.tsx
  libs/data-access/api/src/lib/index.ts
  libs/data-access/api/src/lib/utils/fetcher.spec.ts
  libs/data-access/api/src/lib/utils/fetcher.ts
  libs/data-access/api/src/lib/utils/index.ts
  libs/data-access/api/src/lib/utils/poster.spec.ts
  libs/data-access/api/src/lib/utils/poster.ts
  libs/data-access/api/src/lib/utils/swr.responses.ts
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
Due: core, data-access-api, data-access-contexts

fix(ui): return capacity as number HBL-158
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCapacity/VirtualGymCapacity.tsx
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

feat(data-access): added global loading context HBL-158 #time 15m
  libs/data-access/contexts/src/lib/Loading/Loading.context.spec.tsx
  libs/data-access/contexts/src/lib/Loading/Loading.context.tsx
  libs/data-access/contexts/src/lib/Loading/index.ts
  libs/data-access/contexts/src/lib/index.ts
Due: data-access-contexts

test(core): added missing tests HBL-158 #time 1h 15m
  apps/core/components/Layout/BaseLayout/BaseLayout.spec.tsx
  apps/core/components/Layout/CoreSideNav/CoreSideNav.spec.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.spec.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.tsx
  apps/core/components/pages/dashboard/index.ts
  apps/core/components/pages/index.ts
  apps/core/pages/_app.tsx
  apps/core/pages/dashboard/index.tsx
  apps/core/pages/settings/index.spec.tsx
  apps/core/pages/virtual-gyms/[id]/index.spec.tsx
  apps/core/pages/virtual-gyms/[id]/index.tsx
  libs/data-access/contexts/src/lib/App/App.context.tsx
Due: core, data-access-contexts

fix(ui): missing error props on form HBL-158 #time 5m
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCapacity/VirtualGymCapacity.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymCloseTime/VirtualGymCloseTime.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymDescription/VirtualGymDescription.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymLocation/VirtualGymLocation.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymName/VirtualGymName.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymOpenTime/VirtualGymOpenTime.tsx
  libs/ui/components/src/lib/Dialogs/VirtualGymDialog/VirtualGymPhone/VirtualGymPhone.tsx
Due: ui-components

test(data-access): improve coverage HBL-158
  libs/data-access/contexts/src/lib/Theme/Theme.context.spec.tsx
Due: data-access-contexts

feat(ui): added dashboard gym components HBL-159 #time 45m
  libs/data-access/contexts/src/lib/Theme/Theme.context.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/DashboardGymZone.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/DashboardGymZone.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/index.ts
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/index.ts
  libs/ui/components/src/lib/Dashboard/index.ts
Due: data-access-contexts, ui-components

feat(ui): added `GymZone` dialog fields HBL-159
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneCapacity/GymZoneCapacity.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneCapacity/GymZoneCapacity.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneCapacity/index.ts
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneCloseTime/GymZoneCloseTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneCloseTime/GymZoneCloseTime.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneCloseTime/index.ts
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDescription/GymZoneDescription.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDescription/GymZoneDescription.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDescription/index.ts
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneName/GymZoneName.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneName/GymZoneName.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneName/index.ts
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneOpenTime/GymZoneOpenTime.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneOpenTime/GymZoneOpenTime.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneOpenTime/index.ts
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneProperties/GymZoneProperties.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneProperties/GymZoneProperties.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneProperties/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
Due: ui-components

feat(ui): added `GymZoneDialog` component HBL-159 #time 35m
  libs/ui/components/src/lib/Dialogs/Base/Base.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/index.ts
  libs/ui/components/src/lib/Dialogs/index.ts
Due: ui-components

feat(ui): added virtual gym selector HBL-159 #time 2h
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneCapacity/GymZoneCapacity.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneVirtualGym/GymZoneVirtualGym.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneVirtualGym/GymZoneVirtualGym.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneVirtualGym/index.ts
  libs/ui/components/src/lib/Dialogs/types.ts
  libs/ui/components/src/lib/SelectInput/SelectInput.tsx
  libs/ui/components/src/lib/SelectInput/index.ts
Due: ui-components

feat(core): added dashboard gym zones HBL-159 #time 1h 30m
  apps/core/components/pages/dashboard/DashboardGymZones.spec.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.tsx
  apps/core/components/pages/dashboard/index.ts
  apps/core/pages/dashboard/index.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneVirtualGym/GymZoneVirtualGym.tsx
Due: core, ui-components

refactor(ui): typo HBL-159
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.tsx
Due: data-access-contexts, ui-components

feat(ui): added `DashboardTriner` component HBL-160
  libs/ui/components/src/lib/Dashboard/DashboardTrainer/DashboardTrainer.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainer/DashboardTrainer.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainer/index.ts
Due: ui-components

feat(ui): added `DashboardTrainers` component HBL-160 #time 50m
  libs/ui/components/src/lib/Dashboard/DashboardTrainers/DashboardTrainers.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainers/DashboardTrainers.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainers/index.ts
  libs/ui/components/src/lib/Dashboard/index.ts
Due: ui-components

feat(ui): `DashboardEvent` & `DashboardEventTempate` HBL-160
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardCommonEvent.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardCommonEvent.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEvent.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEvent.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEventTemplate.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEventTemplate.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/index.ts
Due: ui-components

feat(ui): events list components HBL-160 #time 1h
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEventTemplates.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEventTemplates.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEvents.spec.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEvents.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvents/index.ts
  libs/ui/components/src/lib/Dashboard/index.ts
Due: ui-components

refactor(ui): component return type HBL-160
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEventTemplates.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvents/DashboardEvents.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/DashboardGymZone.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainers/DashboardTrainers.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGym/DashboardVirtualGym.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGyms/DashboardVirtualGyms.tsx
Due: ui-components

refactor(ui): run `format:write` on ui HBL-160
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/DashboardGymZone.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZones/DashboardGymZones.spec.tsx
  libs/ui/components/src/lib/Dialogs/GymZoneDialog/GymZoneDialog.spec.tsx
Due: ui-components

feat(core): missing dashboard items Added trainers, events and event templates HBL-160 #time 30m
  apps/core/components/pages/dashboard/DashboardEventTemplates.spec.tsx
  apps/core/components/pages/dashboard/DashboardEventTemplates.tsx
  apps/core/components/pages/dashboard/DashboardEvents.spec.tsx
  apps/core/components/pages/dashboard/DashboardEvents.tsx
  apps/core/components/pages/dashboard/DashboardTrainers.spec.tsx
  apps/core/components/pages/dashboard/DashboardTrainers.tsx
  apps/core/components/pages/dashboard/index.ts
  apps/core/pages/dashboard/index.tsx
Due: core

refactor(ui): changed cards paddings HBL-160
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardCommonEvent.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEvent.tsx
  libs/ui/components/src/lib/Dashboard/DashboardEvent/DashboardEventTemplate.tsx
  libs/ui/components/src/lib/Dashboard/DashboardGymZone/DashboardGymZone.tsx
  libs/ui/components/src/lib/Dashboard/DashboardTrainer/DashboardTrainer.tsx
  libs/ui/components/src/lib/Dashboard/DashboardVirtualGym/DashboardVirtualGym.tsx
Due: ui-components

refactor(core): `useDashboard` hook HBL-174
  apps/core/components/pages/dashboard/DashboardEventTemplates.tsx
  apps/core/components/pages/dashboard/DashboardEvents.tsx
  apps/core/components/pages/dashboard/DashboardGymZones.tsx
  apps/core/components/pages/dashboard/DashboardTrainers.tsx
  apps/core/components/pages/dashboard/DashboardVirtualGyms.tsx
  apps/core/components/pages/dashboard/hooks.ts
Due: core

feat(api): add level query param on VirtualGym HBL-174 #time 15m
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/test/VirtualGym/VirtualGym.spec.ts
  apps/api/src/test/index.spec.ts
Due: api
