Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 90%
      libs:
        target: 100%
        flags:
          - shared-models
          - shared-types

comment:
  layout: 'diff, flags, files'
  require_changes: true

flags:
  # Apps
  api:
    paths:
      - apps/api/src
    carryforward: true
  client:
    paths:
      - apps/client/src
    carryforward: true
  client-e2e:
    paths:
      - apps/client-e2e/src
    carryforward: true
  core:
    paths:
      - apps/core/src
    carryforward: true
  core-e2e:
    paths:
      - apps/core-e2e/src
    carryforward: true
  landing:
    paths:
      - apps/landing/src
    carryforward: true
  landing-e2e:
    paths:
      - apps/landing-e2e/src
    carryforward: true
  # Libs
  shared-models-body-validators:
    paths:
      - libs/shared/models/body-validators
    carryforward: true
  shared-models-dto:
    paths:
      - libs/shared/models/dto
    carryforward: true
  shared-models-helpers:
    paths:
      - libs/shared/models/helpers
    carryforward: true
  shared-types:
    paths:
      - libs/shared/types
    carryforward: true

feat(api): added event-types e2e test HBL-109 HBL-115 #time 1h 30m
  apps/api/src/test/EventType/EventType.spec.ts
  apps/api/src/test/EventType/index.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/Person/Owner.spec.ts
  apps/api/src/test/Person/Trainer.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  apps/api/src/test/util/Common.spec.ts
  apps/api/src/test/util/index.ts
Due: api

test(api): added EventTemplate e2e tests HBL-109 HBL-116 #time 15m
  apps/api/src/test/EventTemplate/EventTemplate.spec.ts
  apps/api/src/test/EventTemplate/index.ts
  apps/api/src/test/index.spec.ts
Due: api

test(api): added VirtualGym e2e tests HBL-109 HBL-112 #time 1h
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/routes/VirtualGym.routes.ts
  apps/api/src/test/VirtualGym/VirtualGym.spec.ts
  apps/api/src/test/VirtualGym/index.ts
  apps/api/src/test/index.spec.ts
Due: api

fix(api): remove unused param from GymZone.GET HBL-109 HBL-114 #time 10m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/routes/GymZone.routes.spec.ts
  apps/api/src/app/routes/GymZone.routes.ts
Due: api

test(api): added GymZone e2e tests HBL-109 HBL-114 #time 15m
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/test/GymZone/GymZone.spec.ts
  apps/api/src/test/GymZone/index.ts
  apps/api/src/test/index.spec.ts
Due: api

test(api): added Event e2e tests HBL-109 HBL-117 #time 30m
  apps/api/src/test/Event/Event.spec.ts
  apps/api/src/test/Event/index.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  apps/api/src/test/util/constants.ts
Due: api

chore(api): remove src/test from coverage HBL-109
  apps/api/jest.config.js
Due: none

refactor(api): common test functions HBL-109 #time 15m
  apps/api/src/test/Event/Event.spec.ts
  apps/api/src/test/EventTemplate/EventTemplate.spec.ts
  apps/api/src/test/EventType/EventType.spec.ts
  apps/api/src/test/GymZone/GymZone.spec.ts
  apps/api/src/test/VirtualGym/VirtualGym.spec.ts
  apps/api/src/test/util/Common.spec.ts
Due: api

test(api): initial Calendar e2e tests HBL-109 HBL-118 #time 45m
  apps/api/src/test/Calendar/Calendar.spec.ts
  apps/api/src/test/Calendar/index.ts
  apps/api/src/test/EventType/EventType.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
  apps/api/src/test/util/constants.ts
Due: api

test(api): added missing Calendar e2e tests HBL-109 HBL-118 #time 20m
  apps/api/src/app/routes/Calendars.routes.ts
  apps/api/src/test/Calendar/Calendar.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
Due: api

test(api): added Calendar e2e test HBL-109 HBL-119 #time 3h
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.spec.ts
  apps/api/src/app/controllers/Appointments/Calendar/Calendar.controller.ts
  apps/api/src/app/routes/Appointments.routes.spec.ts
  apps/api/src/app/routes/Appointments.routes.ts
  apps/api/src/test/Appointments/Calendar.spec.ts
  apps/api/src/test/Appointments/Event.spec.ts
  apps/api/src/test/Appointments/index.ts
  apps/api/src/test/Calendar/Calendar.spec.ts
  apps/api/src/test/e2e-setup.ts
  apps/api/src/test/index.spec.ts
Due: api

test(api): fix non-passing tests HBL-109
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.spec.ts
Due: shared-models-dto

chore(docker): renamed dev database container HBL-54
  docker-compose.yaml
Due: none

chore: dumped eslint versions HBL-54 Dumped eslint versions which were causing issues due to unsresolved dependencies.
  package-lock.json
  package.json
Due: none

chore: run `nx migrate latest` HBL-54 #time 30m
  nx.json
  package-lock.json
  package.json
Due: none

chore: fix depdency vulnerability HBL-54
  package-lock.json
  package.json
Due: none

chore(landing): added container to serve landing HBL-54 #time 45m #review
  apps/landing/next-env.d.ts
  apps/landing/tsconfig.json
  docker-compose.yaml
  example/example.env
Due: none

fix(api): fix linter error
  apps/api/src/app/controllers/Token/Token.controller.ts
Due: api

chore(client): added container to serve client HBL-52 #time 15m
  docker-compose.yaml
Due: none

chore(core): added container to serve core HBL-53 #time 5m
  apps/core/next-env.d.ts
  apps/core/tsconfig.json
  docker-compose.yaml
Due: none

chore(client): added client ci workflow HBL-121 HBL-124 #time 15m
  .github/workflows/ci-client.yml
Due: none

chore(landing): added landing ci workflow HBL-121 HBL-122 #time 5m
  .github/workflows/ci-landing.yaml
Due: none

chore(core): added core ci workflows HBL-121 HBL-123 #time 5m
  .github/workflows/ci-core.yml
  .github/workflows/ci-landing.yml
Due: none

chore(api): initial api e2e ci workflow HBL-125 #time 20m
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): possible fix of the e2e workflow HBL-125 #time 5m
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): removed bash exec from workflow HBL-125 #time
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): display error HBL-125
  apps/api/src/test/e2e-setup.ts
Due: api

test(api): added env variables on e2e-setup HBL-125 #time 30m
  apps/api/src/test/e2e-setup.ts
Due: api

chore(api): removed create env action HBL-125
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): display docker information for debug HBL-125
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): display process.env variables HBL-125
  .github/workflows/ci-e2e-api.yml
  apps/api/src/test/e2e-setup.ts
Due: api

chore(api): remove display docker info HBL-125
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): manually create the .env file HBL-125
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): added postgres host to env HBL-125
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): added jwt token secret key to env HBL-125
  .github/workflows/ci-e2e-api.yml
Due: none

chore(api): finished api e2e worflow
  .github/workflows/ci-e2e-api.yml
Due: none

chore: run `nx migrate latest`
  package-lock.json
  package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

feat(shared): added phone to person entities HBL-135 #time 1h 30m
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/Person/Owner.spec.ts
  apps/api/src/test/Person/Trainer.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/Person/helpers.ts
  apps/api/src/test/e2e-setup.ts
  libs/shared/models/dto/src/lib/Client/Client.spec.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/Owner/Owner.spec.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Person/Person.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/util/creators.ts
  libs/shared/models/entities/src/lib/Person.ts
Due: api, shared-models-dto

feat(api): fetching virtual gyms returns gym zones HBL-129 #time 1h
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/test/Person/Client.spec.ts
  apps/api/src/test/VirtualGym/VirtualGym.spec.ts
  apps/api/src/test/e2e-setup.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.spec.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.ts
Due: api, shared-models-dto
