Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, data-access-api, data-access-contexts, shared-models-body-validators, shared-models-dto, shared-models-helpers, shared-types, ui-components, utils

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 90%
      libs:
        target: 100%
        flags:
          - shared-models
          - shared-types

comment:
  layout: 'diff, flags, files'
  require_changes: true

flags:
  # Apps
  api:
    paths:
      - apps/api/src
    carryforward: true
  client:
    paths:
      - apps/client
    carryforward: true
  client-e2e:
    paths:
      - apps/client-e2e/src
    carryforward: true
  core:
    paths:
      - apps/core
    carryforward: true
  core-e2e:
    paths:
      - apps/core-e2e/src
    carryforward: true
  landing:
    paths:
      - apps/landing
    carryforward: true
  landing-e2e:
    paths:
      - apps/landing-e2e/src
    carryforward: true
  # Libs
  data-access-api:
    paths:
      - libs/data-access/api
    carryforward: true
  data-access-contexts:
    paths:
      - libs/data-access/contexts
    carryforward: true
  shared-models-body-validators:
    paths:
      - libs/shared/models/body-validators
    carryforward: true
  shared-models-dto:
    paths:
      - libs/shared/models/dto
    carryforward: true
  shared-models-helpers:
    paths:
      - libs/shared/models/helpers
    carryforward: true
  shared-types:
    paths:
      - libs/shared/types
    carryforward: true
  ui-components:
    paths:
      - libs/ui/components
    carryforward: true
  utils:
    paths:
      - libs/utils
    carryforward: true

feat(ui): added trainer dialog HBL-196 #time 1h 15m
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerTags/TrainerTags.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/index.ts
Due: ui-components

feat(api): removed `managerId` from entities HBL-218 #time 10m
  apps/api/src/test/Person/Trainer.spec.ts
  apps/api/src/test/Person/Worker.spec.ts
  apps/api/src/test/e2e-setup.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/entities/src/lib/Owner.ts
  libs/shared/models/entities/src/lib/Trainer.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: api, shared-models-dto

refactor(api): rm unused imports HBL-218
  libs/shared/models/entities/src/lib/Owner.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: none

refactor(api): run `nx format:write` HBL-218
  apps/api/README.md
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Calendar/index.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/validations.ts
  apps/api/src/app/routes/Gym.routes.ts
  apps/api/src/test/GymZone/GymZone.spec.ts
  apps/api/src/test/Tags/TrainerTags/index.ts
  apps/api/src/test/util/constants.ts
  apps/api/tsconfig.spec.json
  nx.json
Due: api

feat(api): use nanoid for trianer's pwd HBL-218
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
Due: shared-models-dto

test(shared): fix tests HBL-218
  apps/api/src/test/Person/Trainer.spec.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.spec.ts
Due: api, shared-models-dto

feat(core): create trainer from trainers page HBL-196 #time 1h
  apps/core/pages/trainers/index.spec.tsx
  apps/core/pages/trainers/index.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.tsx
  libs/ui/components/src/lib/Dialogs/index.ts
Due: core, ui-components

test(core): improve trainers page coverage HBL-196 #time 15m
  apps/core/pages/trainers/index.spec.tsx
Due: core

feat(core): onClick event in trainers table row HBL-220
  apps/core/components/pages/trainers/TableRow.spec.tsx
  apps/core/components/pages/trainers/TableRow.tsx
Due: core

feat(ui): onDelete button for trainer dialog HBL-220
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.spec.tsx
  libs/ui/components/src/lib/Dialogs/TrainerDialog/TrainerDialog.tsx
Due: ui-components

feat(core): update trainers HBL-219 #time 1h 15m
  apps/core/pages/trainers/index.spec.tsx
  apps/core/pages/trainers/index.tsx
  libs/ui/components/src/lib/Dialogs/index.ts
Due: core, ui-components

chore: rm `migrations.json`
  migrations.json
Due: none

feat(api): improve email in use error message HBL-220 #time 15m
  apps/api/src/app/controllers/Person/helpers/register.spec.ts
  apps/api/src/app/controllers/Person/helpers/register.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
Due: api

feat(client): set up client structure
  apps/client/pages/_app.tsx
  apps/client/pages/_document.tsx
  apps/client/pages/index.tsx
  apps/client/project.json
  apps/client/styles/styles.css
Due: client

chore(client): minor changes HBL-150
  apps/client/.eslintrc.json
  apps/client/.gitignore
Due: client

refactor(core): move component to `ui-components` HBL-229
  apps/core/components/Layout/BaseLayout/BaseLayout.tsx
  apps/core/components/Layout/index.ts
  apps/core/jest.config.ts
  libs/ui/components/src/lib/ContentContainer/ContentContainer.spec.tsx
  libs/ui/components/src/lib/ContentContainer/ContentContainer.tsx
  libs/ui/components/src/lib/ContentContainer/index.ts
  libs/ui/components/src/lib/index.ts
Due: core, ui-components

feat(client): added static images HBL-229
  apps/client/public/Dashboard.svg
  apps/client/public/WavesGeneral1.svg
  apps/client/public/WavesGeneral2.svg
  apps/client/public/WavesGeneral3.svg
  apps/client/public/WavesSettings1.svg
  apps/client/public/WavesSettings2.svg
  apps/client/public/WavesSettings3.svg
Due: client

chore(client): minor test changes HBL-229
  apps/client/jest.config.ts
  apps/client/jest.setup.js
  apps/client/specs/index.spec.tsx
Due: client

feat(client): added register helper components HBL-229 #time 30m
  apps/client/components/Layout/Auth/Auth.spec.tsx
  apps/client/components/Layout/Auth/Auth.tsx
  apps/client/components/Layout/Auth/index.ts
  apps/client/components/Layout/index.ts
  apps/client/components/index.ts
  apps/client/components/pages/auth/common/SideImage.spec.tsx
  apps/client/components/pages/auth/common/SideImage.tsx
  apps/client/components/pages/auth/common/index.ts
  apps/client/components/pages/auth/index.ts
  apps/client/components/pages/index.ts
Due: client

feat(client): added signup form components HBL-229 #time 15m
  apps/client/components/pages/auth/common/Form.spec.tsx
  apps/client/components/pages/auth/common/Form.tsx
  apps/client/components/pages/auth/common/index.ts
  apps/client/components/pages/auth/index.ts
  apps/client/components/pages/auth/signup/SignUpForm.spec.tsx
  apps/client/components/pages/auth/signup/SignUpForm.tsx
  apps/client/components/pages/auth/signup/index.ts
  apps/client/components/pages/index.ts
Due: client

feat(data-access): added client login to context HBL-229 #time 35m
  libs/data-access/api/src/lib/User/User.api.spec.ts
  libs/data-access/api/src/lib/User/index.ts
  libs/data-access/api/src/lib/User/types.ts
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
Due: data-access-api, data-access-contexts

feat(client): added signup page HBL-229 #time 15m
  apps/client/jest.config.ts
  apps/client/pages/auth/signup/index.spec.tsx
  apps/client/pages/auth/signup/index.tsx
Due: client

chore(core): fixed coverage collection blobs HBL-229
  apps/core/jest.config.ts
Due: core

chore(docker): serve next apps in docker HBL-252 #time 1h
  apps/api/src/main.ts
  apps/client/project.json
  docker-compose.yaml
Due: api, client

feat(api): added logout function HBL-252 #time 10m
  apps/api/src/app/controllers/Person/helpers/logout.spec.ts
  apps/api/src/app/controllers/Person/helpers/logout.ts
Due: api

feat(api): added `PersonController` HBL-252 #time 10m
  apps/api/src/app/controllers/Person/Owner.controller.spec.ts
  apps/api/src/app/controllers/Person/Person.controller.spec.ts
  apps/api/src/app/controllers/Person/Person.controller.ts
  apps/api/src/app/controllers/Person/helpers/index.ts
  apps/api/src/app/controllers/Person/index.ts
Due: api

feat(api): added logout routes + expiry time HBL-252 #time 10m
  apps/api/src/app/controllers/Person/helpers/logout.spec.ts
  apps/api/src/app/controllers/Person/helpers/logout.ts
  apps/api/src/app/routes/Person.routes.spec.ts
  apps/api/src/app/routes/Persons.routes.ts
Due: api

chore(docker): remove client docker containers HBL-222 #time 1h
  docker-compose.yaml
Due: none

fix: minor improvements HBL-222 #time 15m
  apps/client/project.json
  libs/shared/models/dto/src/lib/Client/Client.ts
Due: client, shared-models-dto

feat(data-access): added user logout fn HBL-253 #time 15m
  libs/data-access/api/src/lib/User/User.api.spec.ts
  libs/data-access/api/src/lib/User/User.api.ts
  libs/data-access/api/src/lib/User/types.ts
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
Due: data-access-api, data-access-contexts

fix(data-access): fix logout return type HBL-253
  libs/data-access/api/src/lib/User/User.api.spec.ts
  libs/data-access/api/src/lib/User/types.ts
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
Due: data-access-api, data-access-contexts

fix(api): dashboard showing not owned gym zones
  apps/api/src/app/controllers/Dashboard/Dashboard.controller.spec.ts
  apps/api/src/app/controllers/Dashboard/Dashboard.controller.ts
Due: api

feat(core): implemented user logout HBL-253 #time 20m
  apps/core/pages/settings/index.spec.tsx
  apps/core/pages/settings/index.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
Due: core, data-access-contexts

feat(client): added login page structure HBL-231 #time 5m
  apps/client/pages/auth/login/index.spec.tsx
  apps/client/pages/auth/login/index.tsx
  apps/client/styles/styles.css
Due: client

feat(client): added login form HBL-232
  apps/client/components/pages/auth/index.ts
  apps/client/components/pages/auth/login/Form.spec.tsx
  apps/client/components/pages/auth/login/Form.tsx
  apps/client/components/pages/auth/login/index.ts
  apps/client/components/pages/index.ts
Due: client

fix(client): missing form footer on signup HBL-232
  apps/client/pages/auth/signup/index.tsx
Due: client

feat(data-access): added client login HBL-232
  libs/data-access/api/src/lib/User/User.api.spec.ts
  libs/data-access/api/src/lib/User/types.ts
  libs/data-access/contexts/src/lib/App/types.ts
Due: data-access-api, data-access-contexts

feat(client): added login logic HBL-232 #time 15m
  apps/client/pages/auth/login/index.spec.tsx
  apps/client/pages/auth/login/index.tsx
Due: client

fix(client): fixed client signup with gym code HBL-232 #time 1h
  apps/client/pages/auth/signup/index.spec.tsx
  apps/client/pages/auth/signup/index.tsx
  libs/data-access/api/src/lib/User/User.api.spec.ts
  libs/data-access/api/src/lib/User/User.api.ts
  libs/data-access/api/src/lib/User/types.ts
  libs/data-access/contexts/src/lib/App/App.context.spec.tsx
  libs/data-access/contexts/src/lib/App/Context.tsx
  libs/data-access/contexts/src/lib/App/types.ts
Due: client, data-access-api, data-access-contexts
