Repository mikededo/hubbl: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, client-e2e, core, core-e2e, landing, landing-e2e, shared-models, shared-types

feat(api): added GymZone service HBL-42 #close
  apps/api/src/app/services/GymZone/GymZone.service.spec.ts
  apps/api/src/app/services/GymZone/GymZone.service.ts
Due: api

feat(api): controller to create GymZones HBL-22 HBL-23 #close
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/GymZone/index.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/GymZone.routes.ts
  apps/api/src/app/routes/index.ts
  apps/api/src/app/services/GymZone/index.ts
  apps/api/src/app/services/index.ts
Due: api

feat(api): controller to update GymZones HBL-22 HBL-24 #close
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/GymZone/index.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/routes/GymZone.routes.ts
Due: api

feat(api): controller to delete GymZones HBL-22 HBL-25 #close #time 30m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/GymZone/index.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/routes/GymZone.routes.ts
Due: api

fix(api): delete checks if entity exists Delete helper functions now checks for the identity to delete if such exists in the database. HBL-44 #close #time 30m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/delete.spec.ts
  apps/api/src/app/controllers/helpers/delete.ts
Due: api

test(api): fixed VirtualGym controller tests
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
Due: api

feat(api): controller to fetch GymZones HBL-22 HBL-23 #time 2h
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/GymZone/index.ts
  apps/api/src/app/routes/GymZone.routes.ts
  apps/api/src/app/routes/VirtualGym.routes.ts
  apps/api/src/app/routes/index.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.ts
Due: api, shared-models

feat(api): gym zone fetch returns calendar id GymZone fetch not returns the identifier of the calendar. Also, when creating a new GymZone, a Calendar is also created. HBL-22 HBL-23 HBL-26 #close
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.ts
  libs/shared/models/entities/src/lib/Calendar.ts
  libs/shared/models/entities/src/lib/GymZone.ts
Due: api, shared-models

test: improved coverage
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.spec.ts
Due: api, shared-models

feat(api): token is parsed in auth middleware HBL-45 #time 1h 30m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/middlewares/auth.middleware.ts
  apps/api/src/app/middlewares/auth.middlware.spec.ts
Due: api

feat(api): base app logger HBL-55 #time 45m
  apps/api/src/app/middlewares/logger.middleware.ts
  apps/api/src/app/routes/index.ts
  apps/api/src/server.ts
  package-lock.json
  package.json
Due: api

feat(api): connection logger Added a logger for the connection that uses the `npmlog` HBl-55 #time 45m
  apps/api/src/config/database.ts
  apps/api/src/config/db.logger.spec.ts
  apps/api/src/config/db.logger.ts
Due: api

feat(api): added logger on register fns HBL-55 #time 30m
  apps/api/src/app/controllers/Person/helpers/register.spec.ts
  apps/api/src/app/controllers/Person/helpers/register.ts
  apps/api/src/app/routes/index.ts
Due: api

feat(api): added logger on login fns HBL-55 #time 20m
  apps/api/src/app/controllers/Person/helpers/login.spec.ts
  apps/api/src/app/controllers/Person/helpers/login.ts
Due: api

feat(api): use pre & post request middlewares HBL-55 #time 20m
  apps/api/src/app/index.ts
  apps/api/src/app/middlewares/index.ts
  apps/api/src/app/middlewares/logger.middleware.ts
Due: api

test(api): pre & post request middlewares tests HBl-55 #time 30m
  apps/api/src/app/middlewares/logger.spec.ts
Due: api

feat(api): added logger in created fns HBL-55 #time 15m
  apps/api/src/app/controllers/helpers/create.spec.ts
  apps/api/src/app/controllers/helpers/create.ts
Due: api

feat(api): added logger in delete fns HBL-55 #time 10m
  apps/api/src/app/controllers/helpers/delete.spec.ts
  apps/api/src/app/controllers/helpers/delete.ts
Due: api

feat(api): added logger in update fns Fixed a type in delete and create logger. HBL-55 #time 15m
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
Due: api

feat(api): added logger in GymZone controller HBL-55 #time 10m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
Due: api

feat(api): added logger in VirtualGym controller HBl-55 #time 10m
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
Due: api

refactor: run `format:write`
  .github/workflows/ci.yml
  apps/api/jest.config.js
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/index.ts
  apps/api/src/app/middlewares/index.ts
  apps/api/src/app/middlewares/logger.middleware.ts
  apps/api/src/app/services/VirtualGym/index.ts
  apps/api/src/environments/environment.prod.ts
  apps/api/src/environments/environment.ts
  apps/api/src/main.ts
  apps/client/jest.config.js
  apps/client/next.config.js
  apps/client/tsconfig.json
  apps/core/jest.config.js
  apps/core/next.config.js
  apps/landing/jest.config.js
  apps/landing/next.config.js
  codecov.yaml
  jest.config.js
  libs/shared/models/dto/src/lib/Base/Base.ts
  libs/shared/models/dto/src/lib/VirtualGym/index.ts
  libs/shared/models/entities/src/lib/Calendar.ts
Due: api, shared-models

feat(api): EventType dto and service HBL-56 #time 45m #review
  apps/api/src/app/services/EventType/EventType.service.spec.ts
  apps/api/src/app/services/EventType/EventType.service.ts
  apps/api/src/app/services/EventType/index.ts
  apps/api/src/app/services/index.ts
  libs/shared/models/dto/src/lib/EventType/EventType.spec.ts
  libs/shared/models/dto/src/lib/EventType/EventType.ts
  libs/shared/models/dto/src/lib/EventType/index.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/entities/src/lib/EventType.ts
Due: api, shared-models

feat(api): create EventType controller HBL-31 #time 1h 30m #close HBL-27
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
  apps/api/src/app/controllers/EventType/EventType.controller.ts
  apps/api/src/app/controllers/EventType/index.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/EventTypes.routes.ts
  apps/api/src/app/routes/index.ts
Due: api

refactor(api): use common updater controller HBL-27 HBL-32 #time 30m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
Due: api

test(api): delete EventType controller tests HBL-27 HBL-33 #time 10m
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
Due: api

refactor(api): use common delete controller HBL-27 HBL-33 #time 10m
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
Due: api

refactor(api): use common create controller HBL-27 HBL-31 #time 30m
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Base/DeleteByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Base/index.ts
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
  apps/api/src/app/controllers/EventType/EventType.controller.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/helpers/create.ts
Due: api

feat(api): fetch EventType controller HBL-27 HBL-34 #time 1h 30m #review
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
  apps/api/src/app/controllers/EventType/EventType.controller.ts
  apps/api/src/app/controllers/EventType/index.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/routes/EventTypes.routes.ts
  apps/api/src/app/services/Base/Base.service.spec.ts
  apps/api/src/app/services/Base/Base.service.ts
Due: api

refactor: run `format:write`
  apps/api/src/app/controllers/Base/DeleteByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  libs/shared/models/dto/src/lib/EventType/index.ts
Due: api, shared-models

refactor: move types to types lib HBL-58 #time 15m #review
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Person/helpers/login.ts
  apps/api/src/app/controllers/Person/helpers/register.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/controllers/helpers/index.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/EventType/EventType.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Person/Person.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/dto/src/lib/util/index.ts
  libs/shared/models/dto/src/lib/util/types.ts
  libs/shared/types/.eslintrc.json
  libs/shared/types/src/index.ts
  libs/shared/types/src/lib/enums.ts
  libs/shared/types/src/lib/types.ts
Due: api, shared-models, shared-types

fix(api): revert to resolve cyclic dependency Extracting enums to the types lib caused a cyclic dependency.
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.spec.ts
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/Person/helpers/login.ts
  apps/api/src/app/controllers/Person/helpers/register.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.spec.ts
  apps/api/src/app/controllers/VirtualGym/VirtualGym.controller.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/controllers/helpers/index.ts
  apps/api/src/app/controllers/helpers/types.ts
  apps/api/src/app/controllers/helpers/update.spec.ts
  apps/api/src/app/controllers/helpers/update.ts
  libs/shared/models/dto/src/lib/Client/Client.ts
  libs/shared/models/dto/src/lib/EventType/EventType.ts
  libs/shared/models/dto/src/lib/Gym/Gym.ts
  libs/shared/models/dto/src/lib/GymZone/GymZone.ts
  libs/shared/models/dto/src/lib/Owner/Owner.ts
  libs/shared/models/dto/src/lib/Person/Person.ts
  libs/shared/models/dto/src/lib/Trainer/Trainer.ts
  libs/shared/models/dto/src/lib/VirtualGym/VirtualGym.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/dto/src/lib/util/index.ts
  libs/shared/models/dto/src/lib/util/types.ts
  libs/shared/types/.eslintrc.json
  libs/shared/types/src/index.ts
  libs/shared/types/src/lib/enums.ts
Due: api, shared-models, shared-types

feat(api): fetch all GymZone's HBL-22 HBL-26 #time 1h #review
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.spec.ts
  apps/api/src/app/controllers/GymZone/GymZone.controller.ts
Due: api

feat(api): EventTemplate DTO and service HBL-28 HBL-61 #time 30m #review
  apps/api/src/app/services/EventTemplate/EventTemplate.service.spec.ts
  apps/api/src/app/services/EventTemplate/EventTemplate.service.ts
  apps/api/src/app/services/EventTemplate/index.ts
  apps/api/src/app/services/index.ts
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.spec.ts
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.ts
  libs/shared/models/dto/src/lib/EventTemplate/index.ts
  libs/shared/models/dto/src/lib/index.ts
  libs/shared/models/entities/src/lib/Event.ts
  libs/shared/models/entities/src/lib/EventTemplate.ts
  libs/shared/models/entities/src/lib/Gym.ts
Due: api, shared-models

fix(shared): Worker missing EventTemplate permissions HBl-28 HBL-35 #time 15m
  libs/shared/models/dto/src/lib/Worker/Worker.spec.ts
  libs/shared/models/dto/src/lib/Worker/Worker.ts
  libs/shared/models/entities/src/lib/Worker.ts
Due: shared-models

feat(api): create EventTemplate controller HBL-28 HBL-35 #time 30m #review
  apps/api/src/app/controllers/Base/CreateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.spec.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.ts
  apps/api/src/app/controllers/EventTemplate/index.ts
  apps/api/src/app/controllers/helpers/create.ts
  apps/api/src/app/controllers/index.ts
  apps/api/src/app/routes/EventTemplates.routes.ts
  apps/api/src/app/routes/index.ts
  libs/shared/models/entities/src/lib/EventTemplate.ts
  libs/shared/models/entities/src/lib/EventType.ts
Due: api, shared-models

feat(api): update EventTemplate controller HBL-28 HBL-36 #time 20m #review
  apps/api/src/app/controllers/Base/UpdateByOwnerWorker.controller.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.spec.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.ts
  apps/api/src/app/controllers/EventTemplate/index.ts
  apps/api/src/app/controllers/helpers/update.ts
  apps/api/src/app/middlewares/logger.middleware.ts
  apps/api/src/app/middlewares/logger.spec.ts
  apps/api/src/app/routes/EventTemplates.routes.ts
Due: api

feat(api): delete EventTemplate controller HBL-28 HBL-37 #time 20m #review
  apps/api/src/app/controllers/Base/DeleteByOwnerWorker.controller.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.spec.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.ts
  apps/api/src/app/controllers/EventTemplate/index.ts
  apps/api/src/app/controllers/helpers/delete.ts
  apps/api/src/app/routes/EventTemplates.routes.ts
  libs/shared/models/entities/src/lib/EventTemplate.ts
Due: api, shared-models

feat(api): fetch EventTemplate controller HBL-28 HBL-38 #time 2h 30m #review
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.spec.ts
  apps/api/src/app/controllers/EventTemplate/EventTemplate.controller.ts
  apps/api/src/app/controllers/EventTemplate/index.ts
  apps/api/src/app/controllers/EventType/EventType.controller.spec.ts
  apps/api/src/app/controllers/EventType/EventType.controller.ts
  apps/api/src/app/routes/EventTemplates.routes.ts
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.spec.ts
  libs/shared/models/dto/src/lib/EventTemplate/EventTemplate.ts
  libs/shared/models/entities/src/lib/EventTemplate.ts
Due: api, shared-models

Path conditions:
  api: any of: apps/api/src
  client: any of: apps/client/src
  client-e2e: any of: apps/client-e2e/src
  core: any of: apps/core/src
  core-e2e: any of: apps/core-e2e/src
  landing: any of: apps/landing/src
  landing-e2e: any of: apps/landing-e2e/src
  shared-models: any of: libs/shared/models
  shared-types: any of: libs/shared/types
